@charset "utf-8"; 
#sec_fa{overflow: hidden;padding:0 10px;background:#fff;}
#bodymovin{background-color: rgba(0,0,0,0.6);position: fixed;z-index: 9999;text-align: center;top:0;}
#bodymovin .im_log_no{position: absolute;right: 16px;top:50px;}
#bodymovin canvas{width: 50%!important;height: 50%!important;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);}
/*.sec_posrel{position: fixed;height: 100vh;width: 100%;top: 0;}*/
.img_nulgon{position: absolute;width: 100%;top: 30%;/*display: none;*/}
.img_nulgon .img_wid{width: 120px;}
.img_nulgon .center{color: rgba(128, 128, 128,0.5);padding-top: 10px;}
#myLVN_wei,#myLVL_wei{position: relative;top:100px;width: 100%;}
#flowList{top:120px;width: 100vw;}
.find{padding-bottom: 54px;}
.find .head{position:fixed;width:100%;top:0;z-index: 99;background:linear-gradient(90deg,rgba(144,19,254,1) 0%,rgba(113,210,255,1) 100%);}
.find .sec_foot{padding-top:84px;}
.find .head .hed_p{text-align: center;height:44px;line-height:44px;font-size:1.5rem;/* font-weight: 600; */}
.find .head .hed_p li{font-size: 1.5rem;}
.find .head .hed_p .li_guanzh{position: absolute;left: 16px;font-size: 1.3rem;}
.find .head .li_guanzh .adynac{color: #F8E71C;}
.hed_img_icon{position: absolute;width: 18px;border-radius: 0;top: 12px;left: 16px;}
.find .head .a_zhi{color: #fff;width: 23%;}
.find .head .on .a_zhi{color: #F8E71C;}
.find .head .adynac{color: #fff;display: inline-block;}
.find .head .on{position: relative;color: #F8E71C;font-size: 19px;font-weight:600;font-family:"PingFangSC-Regular";text-shadow:0px 2px 4px rgba(144,19,254,0.5);}
.find .head .on:after{content:'';position:absolute;width:10px;height:2px;background:#F8E71C;bottom:5px;left:50%;transform:translate(-50%,-50%);box-shadow:0px 2px 4px 0px rgba(144,19,254,0.5);}
#football #foot_fa .search{padding:0;position: relative;z-index: 3;}
/* .find .head .adynac{color: #fff;display: inline-block;width: 30%;}
.find .head .on{position: relative;font-size: 19px;font-weight:600;color: #F8E71C;font-family:"PingFangSC-Regular";text-shadow:0px 2px 4px rgba(144,19,254,0.5);}
.find .head .active:after{content:'';position:absolute;width:10px;height:2px;background:#F8E71C;bottom:5px;left:50%;transform:translate(-50%,-50%);box-shadow:0px 2px 4px 0px rgba(144,19,254,0.5);}
#football #foot_fa .search{padding:0;position: relative;z-index: 3;} */
#foot_fa .ul_type{background:#fff;box-shadow:0px 0px 1px 0px rgba(0,0,0,0.25);padding: 0 3%;display: flex;}
#foot_fa .ul_type .link{flex: 1;height: 44px;line-height: 44px;font-size: 1.3rem;}
#foot_fa .spActi{background: #F0F2F5;color: #657786;padding:2px 4px;border-radius: 30px;display: inline-block;width: 80%;height: 26px;line-height: 22px;}
#foot_fa .ul_type .active{background:#C86DD7;color:#fff;}
#foot_fa .div_pai{background:#fff;padding:0 16px;height: 44px;line-height:44px;box-shadow:0px 0px 1px 0px rgba(0,0,0,0.25);margin-bottom: 1px;}
#foot_fa .div_pai .ALink{display: block;}
#foot_fa .div_pai .w49{width:49%;height:44px;vertical-align: top;}
#foot_fa .div_pai .w20{width: 20%;}
.pt40{padding-top: 41px;}
#foot_fa .div_pai .img_bor{width:2.4rem;height:2.4rem;border-radius:50%;}
#foot_fa .div_pai .r12{font-size: 15px;color:#657786;}
#gomeili img,#gomeilitwo img{width: 32px;}
#foot_fa .foo_content{padding:0 16px;background: #fff;}
#foot_fa .s_follow .foo_content{padding-bottom: 20px;}
#foot_fa .div_offNo{}
#foot_fa .dHide4{padding:10px 16px;background:#fff;}
#foot_fa .p_href{height: 44px;line-height:44px;color: #000;font-size: 17px;font-weight: 600;}
#foot_fa .p_href>img{border-radius: 0;margin-right: 8px;width: 12px;}
#foot_fa .pText{font-size: 1.2rem;color: #657786;}
#foot_fa .div_offNo .w48,#ulfollowlx .w48{overflow: hidden;position: relative;width: 48.5%;margin:0 3% 10px 0;border-radius: 10px;}
#foot_fa .div_offNo .w48:nth-of-type(2n+0){margin-right: 0;}
#ulfollowlx .w48:nth-of-type(2n+0){margin-right: 0;}
#foot_fa .div_offNo .fr{position: absolute;border-radius: 0;width: 20px;right: 12px;color: #fff;font-size: 13px;}
#foot_fa .div_offNo .span_frih{position: absolute;border-radius: 0;width: 60px;right: 12px;color: #fff;font-size: 13px;text-align: right;}
#foot_fa .div_offNo .img_nam{width: 100%;border-radius: 6px;}
.div_offNo .w48 p{position: absolute;width: 100%;color: #fff;font-size: 10px;}
#foot_fa .div_offNo .p_soule{top: 0;padding: 4px 3% 4px;}
#foot_fa .div_offNo .botPos{bottom: 4px;padding:0 3%;font-size: 15px;}
#foot_fa .div_offNo .w48 .fr{font-size: 1.2rem;/* margin-top: 3px;width: 28px; */}
#foot_fa .div_offNo .A_LVL_gz .fr{width: 28px;margin-top: -3px;right: 0;}
.div_offNo .w48 .i_icon{display: inline-block;background:url(../images/room/x.png);background-size: 100% 100%;width: 10px;height: 9px;margin-right: 4px;}

#foot_fa .s_follow,#foot_fa .s_video{padding-top: 44px;/* display: none; */}
#foot_fa .div_offNo .re1{font-size: 10px;/* background: rgba(0,0,0,0.2); */border-top-left-radius: 5px;border-top-right-radius: 5px;}
#foot_fa .div_offNo .i_color{display: inline-block;width: 10px;height: 10px;border-radius: 50%;margin:0 6px;}
#foot_fa .div_offNo .green{background:#7ED321;}
#foot_fa .div_offNo .gray{background:#D8D8D8;}
#myfollow .div_offNo .gray{background:#D8D8D8;}

.A_LVL_gz{position: relative;margin-left: 3%;color: #fff;padding: 1px 6px 1px 5px;border-radius: 30px;font-size: 1rem;float: right;}
#myfollow .div_offNo .A_LVL_gz .fr{width: 28px;margin-top: -3px;right: 0;}
.div_offNo .p_relo{position: absolute;color: #fff;width: 100%;padding: 12px 12px 0;text-align: center;}
.div_offNo .p_relo:before{content: '';position: absolute;border-radius: 10px;height: 44px;width: 100%;left: 0;top:0;background:linear-gradient(360deg,rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);}
.div_offNo .p_relo .im_w20{width: 20px;border-radius: 0;position: relative;}
.div_offNo .p_relo>span{padding: 1px 4px;background:rgba(0,0,0,0.7);color: #fff;border-radius: 30px;font-size: 10px;position: absolute;left: 12px;}
.div_offNo .p_relo .sp_craft{position: relative;font-size: 15px;color: #fff;width: 50%;display: inline-block;height: 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#foot_fa .div_offNo .im_icon_gk{width: 14px;margin-right: 6px;}
.div_offNo .p_relo i{display: inline-block;background:#7ED321;width: 10px;height: 10px;border-radius: 50%;margin-right: 4px;position: relative;top: 1px;}
.div_offNo .vid_bot{position: absolute;bottom: 0;width: 100%;}
.div_offNo .vid_bot .Agz{margin-left: 3%;color: #fff;background: #32BEFF;padding: 2px 8px;border-radius: 30px;font-size: 1rem;}
.div_offNo .vid_bot .sp_tex_gz{background-color: #C86DD7;}
.div_offNo .vid_bot .block{display: block;height:54px;color: #fff;padding:0px 3% 0;border-radius: 10px;background: linear-gradient(180deg,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);}
.div_offNo .vid_bot .A_col_te{height: 44px;line-height: 40px;}
.vid_bot li{vertical-align: middle;height: 40px;}
.vid_bot .w55{width: 55%;}
.vid_bot .w15{width: 15%;text-align: right;}
.vid_bot .w30{width: 30%;}
.vid_bot .r13{font-size: 15px;padding-bottom: 4px;font-weight: 600;}
.vid_bot .img_pl{margin-left: 6px;}
.vid_bot .r13 img{width: 13px;}
.vid_bot .block .w15>img{width: 40px;}
.vid_bot .r12{font-size: 13px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.vid_bot .w30>p{font-size: 10px;}
.div_offNo .vid_bot .wid_li{height: 34px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.div_offNo .vid_bot .wid40{width: 40%;}
.div_offNo .vid_bot .wid20{width: 20%;}
#foot_fa .div_offNo .back_col{background: linear-gradient(180deg,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);padding: 10px 0;bottom: 0;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;}
#div_pj{display: none;position: fixed;width: 100%;height: 100vh;background:rgba(0,0,0,0.25);top:0;z-index: 99999;}
#mydiv1{position: absolute;overflow: hidden;background-color: #fff;border-radius: 10px;top: 50%;left: 50%;width:85%;transform: translate(-50%,-50%);}
#mydiv1 .p_tit{line-height: 44px;background: #C86DD7;font-size: 1.5rem;color:#fff;}
#mydiv1 .p_lov{color: #9B9B9B;font-size: 1.1rem;padding:10px 0 20px;}
#mydiv1 .p_xz{text-align: left;color: #657786;font-weight: 600;font-size: 1.3rem;padding: 0 3% 16px;}
#mydiv1 .p_xz .sp_thre{color: #9B9B9B;font-size: 1.1rem;}
#mydiv1 .star_ul{display: flex;margin-right: 10px;padding:0 5%;}
#mydiv1 .star_ul .lflex{flex: 1;}
#mydiv1 .xing_hui{}
#mydiv1 .ptop{padding-top: 16px;}
#mydiv1 .uflx{display: flex;flex-wrap: wrap;align-content: flex-start;padding: 0 3% 20px;}
#mydiv1 .uflx .lflex{padding-left: 15px;margin-bottom: 16px;}
#mydiv1 .uflx .spatex{background:#F0F2F5;color: #657786;font-size: 1.1rem;padding: 4px 14px;border-radius: 30px;}
#mydiv1 .activpj .spatex{background-color: #C86DD7;color: #fff;}
#mydiv1 .p_bot{background:#fff;box-shadow:0px 0px 1px 0px rgba(0,0,0,0.25);}
#mydiv1 .p_bot .a_butqr{color: #657786;}


/*修改直播页面*/
#Aliv{background: url(../images/my/liveUrl.png);height: 100vh;background-size: 100% 100%;position: relative;z-index: 3;}
#Aliv:before{content: '';position: absolute;width: 100%;height: 100vh;background: rgba(0,0,0,0.5);top: 0;}
.sec_relat{position: relative;}
.sec_relat .div_renshu{padding-top: 79px;}
.sec_relat .div_renshu p{color: #fff;font-weight: 600;text-align: center;}
.sec_relat .div_renshu p:nth-of-type(1){font-size: 1.12rem;line-height:18px;opacity: 0.25;}
.sec_relat .div_renshu p:nth-of-type(2){font-size:1.98rem;line-height:32px;opacity: 0.5;}
.sec_relat .div_renshu p:nth-of-type(3){font-size:2.84rem;line-height:46px;}
.sec_relat .div_bottom{position: fixed;text-align: center;width: 100%;bottom: 80px;}
.sec_relat .div_bottom .img_tou{width: 67px;margin-bottom: 30px;}
.sec_relat .div_bottom .img_but{width: 221px;}
/*.div_cen .div_slid{position: relative;}*/
#scissorsContainer {
          display: flex;
          justify-content: center;
          flex-direction: column;
        }
        .btn {
          padding: 8px;
          font-size: 14px;
          border: 1px solid #1976d2;
          border-radius: 2px;
          background: #ffffff;
          text-align: center;
          cursor: pointer;
        }
        .btn:hover {
          background-color: #1976d2;
          color: #ffffff;
        }
        #workArea {
          width: 100%;
          height: 500px;
          position: relative;
          margin: 16px 0;
          overflow: hidden;
        }
        #overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          background: #eeeeee;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        #overlayInner {
           width: 350px;
          height: 350px; 
       /*    width: 300px;
       height: 300px; */
          border: 70px solid gray;
          opacity: 0.7;
          z-index: 1;
        }
        #avatorImg {
          width: auto;
          height: auto;
          border: none;
          outline: none;
          position: absolute;
        }
        #resizeBox {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 16px;
        }
        #resizeBox > div > button {
          margin: 0 8px;
        }
        #imageShow {
          width: 300px;
          height: 300px;
        }
 .gearDate,
.gearDatetime,
.gearTime {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 10px;
	background-color: rgba(0, 0, 0, 0.2);
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9900;
	overflow: hidden;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

.date_ctrl {
	vertical-align: middle;
	background-color: white;
	color: #363837;
	margin: 0;
	height: auto;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 9901;
	overflow: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

.slideInUp {
	animation: slideInUp .3s ease-in;
	-webkit-animation: slideInUp .3s ease-in
}

@-webkit-keyframes slideInUp {
	from {
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}

.date_roll,
.datetime_roll,
.time_roll {
	display: -webkit-box;
	width: 100%;
	height: auto;
	overflow: hidden;
	font-weight: bold;
	background-color: transparent;
	-webkit-mask: -webkit-gradient(linear, 0% 50%, 0% 100%, from(#debb47), to(rgba(36, 142, 36, 0)));
	-webkit-mask: -webkit-linear-gradient(top, #debb47 50%, rgba(36, 142, 36, 0))
}

.date_roll>div,
.datetime_roll>div,
.time_roll>div {
	font-size: 1.5rem;
	color: #030303;
	height: 6em;
	float: left;
	background-color: transparent;
	position: relative;
	overflow: hidden;
	-webkit-box-flex: 4
}
.divTime{
	font-size: 1.6em;
    line-height: 1em;
    text-align: center;
    padding: .8em 1em;
    cursor: pointer;
    color: #030303;
}
.date_roll_mask {
	-webkit-mask: -webkit-gradient(linear, 0% 40%, 0% 0%, from(#debb47), to(rgba(36, 142, 36, 0)));
	-webkit-mask: -webkit-linear-gradient(bottom, #debb47 50%, rgba(36, 142, 36, 0));
	padding: 0 0 3em 0
}

.date_roll>div:nth-child(2) {
	-webkit-box-flex: 2
}

.date_roll>div:nth-child(1),
.datetime_roll>div:nth-child(1) {
	-webkit-box-flex: 4
}

.datetime_roll>div:first-child {
	-webkit-box-flex: 6
}

.datetime_roll>div:last-child {
	-webkit-box-flex: 6
}

.date_grid {
	position: relative;
	top: 2em;
	width: 100%;
	height: 2em;
	margin: 0;
	box-sizing: border-box;
	z-index: 0;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6
}

.date_grid>div {
	color: #000;
	position: absolute;
	right: 0;
	top: 0;
	font-size: .8em;
	line-height: 2.5em
}

.date_roll>div:nth-child(3) .date_grid>div {
	left: 42%
}

.datetime_roll>div .date_grid>div {
	right: 0
}

.datetime_roll>div:first-child .date_grid>div {
	left: auto;
	right: 0%
}

.datetime_roll>div:last-child .date_grid>div {
	left: 50%
}

/* .time_roll>div:nth-child(1) .date_grid>div {
	right: 0.5em;
	border: 1px solid red;
} */
/* .time_roll>div .date_grid{
	border: 1px solid black;
}  */
/* .time_roll>div .date_grid>div {
	right:1em;
	border: 1px solid blue;
} */

.date_btn {
	color: #007AFF;
	font-size: 1.6em;
	line-height: 1em;
	text-align: center;
	padding: .8em 1em;
	cursor: pointer
}
.date_btn_box .lcalendar_finish{color: #657786;}

.date_btn_box {
	display: -webkit-box;
	-webkit-box-pack: justify;
	-webkit-box-align: stretch
}

.gear {
	float: left;
	position: absolute;
	z-index: 9902;
	width: 5.5em;
	margin-top: -6em
}

.date_roll>div .gear {
	width: 100%
}

.date_roll>div:nth-child(1) .gear {
	text-indent: 20%
}

.date_roll>div:nth-child(2) .gear {
	text-indent: -20%
}

.date_roll>div:nth-child(3) .gear {
	text-indent: -55%
}

.datetime_roll>div .gear {
	width: 100%;
	text-indent: -25%
}

.datetime_roll>div:first-child .gear {
	text-indent: -10%
}

.datetime_roll>div:last-child .gear {
	text-indent: -50%
}

.time_roll>div .gear {
	width: 100%;
	/*text-indent: -70%;*/
	text-align: center;
}

.time_roll>div:nth-child(1) .gear {
	width: 100%;
	text-indent: 10%
}

