<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="margTopX" id="gift">
        <header class="head_vid margTopX" style="border:0;">
            <div class="center">
                <p><i class="giftFan" id="p_fan"></i>礼物柜</p>
                <!-- <a class="aAbsolute" href="javascript:void(0)"><img class="img_rela" src="images/room/liwu-3.png" alt=""><span>关注</span></a> -->
            </div>
        </header>
        <section class="sec_gift">
            <ul id="giftLis">
                <li class="li_gift center">
                    <img class="img_gift" src="images/room/gift1.png" alt="">
                    <p class="gift_text">礼物</p>
                    <p class="gift_numb">0</p>
                </li>
            </ul>
        </section>
    </div>
</body>
</html>