<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- <link rel="stylesheet" href="css/find.css">  -->
    <title>home</title>
</head>
<body>
    <div class="divHead" id="ranking">
        <p id="purlX"></p>
        <header class="head_vid margTopX" style="border:0;">
            <div class="center">
                <p><i class="ranFan" id="p_fan"></i><span id="liveType">主播排行榜</span></p>
                <!-- <img class="img_fx" src="images/dynamic/Fill 1.png" alt=""> -->
            </div>
        </header>
        <section class="sec_rank">
            <div class="di_url">
                <p class="p_null"></p>
                <ul id="ulLive" class="ul_rank">
                    <li data-t="bangdan" data-d="day" class="w25 center li_Rankin active_sp"><span>日榜</span></li>
                    <li data-t="bangdan" data-d="week" class="w25 center li_Rankin"><span>周榜</span></li>
                    <li data-t="bangdan" data-d="moth" class="w25 center li_Rankin"><span>月榜</span></li>
                    <li data-t="bangdan" data-d="all" class="w25 center li_Rankin"><span>总榜</span></li>
                </ul>
            </div>
            <div class="div_phb">
                <ul>
                    <li id="liveTwo" class="center li_w33">
                        <!-- <p class="link img_wid2"><img class="im_wid" src="images/dynamic/Bitmap2.png" alt=""></p>
                        <p class="ran_name">金鱼姬</p>
                        <p class="ran_numb">7796</p>
                        <p class="ran_guan">+关注</p> -->
                    </li>
                    <li id="liveOne" class="center li_w33">
                        <!-- <p class="link img_wid1"><img class="im_wid" src="images/dynamic/Bitmap.png" alt=""></p>
                        <p class="ran_name">金鱼姬</p>
                        <p class="ran_numb">7796</p>
                        <p class="ran_guan">+关注</p> -->
                    </li>
                    <li  id="livethree" class="center li_w33">
                        <!-- <p class="link img_wid3"><img class="im_wid" src="images/dynamic/Bitmap2.png" alt=""></p>
                        <p class="ran_name">金鱼姬</p>
                        <p class="ran_numb">7796</p>
                        <p class="ran_guan">+关注</p> -->
                    </li>
                </ul>
            </div>
            <div id="div_nul_img" class="center"><img style="width: 30%;" src="images/my/kong-2.png" alt=""><br/><span>虚位以待</span></div>
            <div id="rankLis" class="rankingList">
                <div class="ran_list">
                    <!-- <ul>
                        <li class="li_wi60"><img class="ranToux" src="images/dynamic/Bitmap.png" alt=""><span>美羊羊</span></li>
                        <li class="li_wi20 center"><img style="width: 24px;" src="images/room/xin.png" alt="">&nbsp;&nbsp;<span>765</span></li>
                        <li class="li_wi30"><span class="ran_gz">+关注</span></li>
                    </ul> -->
                </div>
            </div>
        </section>
    </div>
</body>
</html>