<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="wrapper hed_gy" id="Vdetail">
        <header class="head_set">
            <div class="div_hed"><p><i class="detilsFan" id="p_fan"></i>視頻詳情</p></div>
        </header>
        <section class="sec_detai">
            <div id="div_vio">
                <div id="Vnone" class="hed_vid">
                     <!-- <video id="bideo" style="width:100vw;background:#fff;" poster="" controls src="http://47.93.204.144/upload/texts.mp4"></video>   -->
                    <!-- <img class="vi_img" src="images/loading_1.gif" alt=""> -->
                    <!-- <img class="img_bf" src="images/find/video_play_normal.png" alt=""> -->
                </div>
                <div class="two_tit">
                    <div class="div_w50 w60">
                        <b>視頻詳細</b>
                        <p>2018-10-12 · <span>17.9</span>萬次播放</p>
                    </div>
                    <div class="div_w50 d_comment">
                        <img class="fl" src="images/find/praise_unpress.png" alt="">
                        <p class="p_line"> <span>74%覺得很讚</span><i class="i_abs"></i></p>
                        <img class="fr" src="images/find/unpraise_unpress.png" alt="">
                    </div>
                </div>
                <div class="d_pj">
                    <div class="div_gray">
                        <p class="p_w70">
                            視頻詳細。
                        </p>
                        <p class="p_w30">
                            簡介<!-- <img src="images/find/ic_av_less.png" alt=""> -->
                        </p>
                    </div>
                </div>
            </div>
            <div class="div_rp">
                <ul id="ul_rp">
                    <li class="li_w7"><img src="images/find/common.png" alt="">&nbsp;&nbsp;<span>57熱評</span></li>
                    <li class="li_w3" data-t="lixl"><img src="images/find/favor_nopress.png" alt=""></li>
                    <li style="display: none;" class="li_w3" data-t="dexia"><img src="images/find/download_nopress.png" alt=""></li>
                    <li class="li_w3" data-t="fenand"><img src="images/find/send_nopress.png" alt=""></li>
                </ul>
            </div>
            <div class="di_love">
                <p class="p_titl">猜你喜歡</p>
                <ul id="vicnxh" class="di_ul">
                    <li>
                        <div class="li_div di_img">
                            <img src="images/find/tu2_03.png" alt="">
                        </div>
                        <div class="li_div di_text">
                            <b class="title">國產網紅極致視頻</b>
                            <p class="p_bq">
                                <span>年輕少婦</span>
                                <span>家庭劇</span>
                                <span>國產</span>
                            </p>
                            <p class="p_bf">62.1萬次播放</p>
                        </div>
                    </li>
                </ul>
                <!-- <p class="center">查看更多<img src="images/find/ic_av_less.png" alt=""></p> -->
            </div>
            <div class="di_qbpl">
                <div class="div_p">
                    <p class="p_one p_w5">全部評論 
                        <span class="sp_numb"></span>
                    </p>
                    <p class="p_w5 center">
                        <span data-t="2" class="sp_pl">熱門</span>
                        <span data-t="1" class="sp_pl sp_acti">最新</span>
                    </p>
                    <p id="p_fpl" class="p_two"><img src="images/my/ic_head_s.png" alt=""><span>快來說說你的感想吧</span></p>
                </div>
                <!-- sec_xgnc -->
                <ul id="lis_pl" class="ul_bor">
                    <li class="li_me">
                        <div class="div_link">
                            <div class="dv w_10"><img class="im_w44" src="images/my/ic_head_s.png" alt=""></div>
                            <div class="dv w_60">
                                <p>柯***<img class="im_sex" src="images/find/ic_man.png" alt=""></p>
                                <p class="p_gr">7分鐘前</p>
                            </div>
                            <div class="dv w_20">
                                <p> <span class="p_gr fl">1</span> <img class="im_zan" src="images/find/zan.png" alt=""></p>
                            </div>
                        </div>
                        <p class="p_cent">視頻詳細。</p>
                    </li>
                </ul>
            </div>
            <div id="di_pl" class="di_inp" >
                <p>發評論 <img id="pl_hide" class="fr" src="images/find/video_export.png" alt=""></p>
                <textarea id="textare" rows="4" cols="50" maxlength="50" placeholder="我來說兩句~"></textarea>
                <p class="right"><button id="but_pl">發送</button></p>
            </div>

            <div class="di_plxq di_qbpl" style="display:none;">
                <p class="center plxq">評論詳情 <img src="images/find/close.png" alt=""></p>
                <ul class="ul_bor">
                    <li class="li_me border">
                        <div class="div_link">
                            <div class="dv w_10"><img class="im_w44" src="images/my/ic_head_s.png" alt=""></div>
                            <div class="dv w_60">
                                <p>客戶***<img class="im_sex" src="images/find/ic_man.png" alt=""></p>
                                <p class="p_gr">7分鐘前</p>
                            </div>
                            <div class="dv w_20">
                                <p> <span class="p_gr fl">1</span> <img class="im_zan" src="images/find/zan.png" alt=""></p>
                            </div>
                        </div>
                        <p class="p_cent">視頻詳細</p>
                    </li>
                    <li class="li_me">
                        <div class="div_link">
                            <div class="dv w_10"><img class="im_w44" src="images/my/ic_head_s.png" alt=""></div>
                            <div class="dv w_60">
                                <p>浩南***
                                    <img class="im_sex" src="images/find/ic_man.png" alt="">
                                    <span class="p_gr">7分钟前</span>
                                </p>
                            </div>
                            <div class="dv w_20">
                                <p>
                                    <span class="p_gr fl">1</span> 
                                    <img class="im_zan" src="images/find/zan.png" alt="">
                                </p>
                            </div>
                            <p class="p_cent tex_ind">視頻詳細</p>
                        </div>
                    </li>
                    <li class="li_me">
                        <div class="div_link">
                            <div class="dv w_10"><img class="im_w44" src="images/my/ic_head_s.png" alt=""></div>
                            <div class="dv w_60">
                                <p>浩南***
                                    <img class="im_sex" src="images/find/ic_man.png" alt="">
                                    <span class="p_gr">7分钟前</span>
                                </p>
                            </div>
                            <div class="dv w_20">
                                <p> <span class="p_gr fl">1</span> <img class="im_zan" src="images/find/zan.png" alt=""></p>
                            </div>
                        </div>
                        <p class="p_cent tex_ind">黄瓜代推。广20元无线看。</p>
                    </li>
                </ul>
            </div>
            <!-- <div id="div_money" > -->
            <div id="div_money" class="money_gong" style="display:none;">
            <div class="di_mon">
                <img id="im_fanhui" class="im_guan" src="images/my/search_back.png" alt="">
                <div class="mon_img">
                    <div class="p_fls">
                        <p>福 利 社</p>
                        <p>你想要的都在這裡</p>
                    </div>
                    <img class="img_w100" src="images/jffls.png" alt="">
                </div>
                <div class="mon_cent">
                    <ul id="ul_numbe" class="ul_money">
                        <li class="li_money">
                            <a data-t="Amoney" class="A_mon" href="javascript:void(0)">48元包月觀看</a>
                            <a data-t="Azuan" class="A_zuan" href="javascript:void(0)">鑽石抵扣</a>
                        </li>
                    </ul>
                    <p id="ve_show" class="center">
                        <a data-t="Asigin" class="but_cen" href="javascript:void(0)">分享免費觀看</a>
                    </p>
                </div>
                <img class="img_cz_gif" id="cz_gif2" src="images/gif/zai.gif" alt="">
                <div id="vieform"></div>
            </div>
        </div>
        </section>
    </div>
</body>
</html>