<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="find margTopX" id="dynamic">
        <p class="p_iphoneX"></p>
        <!-- <header class="head">
            <img id="dtShuax" class="hed_img_icon" src="images/audio/xiao.png" alt="#">
            <p id="p_tjgz" class="hed_p">
                <a data-t="a_follow" data-l="0" class="adynac" href="javascript:void(0)">关注</a>
                <a data-t="a_tuij" data-l="1" class="adynac active" href="javascript:void(0)">推荐</a>
            </p>
            <img id="img_ldtst" class="Img_search I_hist" src="images/room/sousuo.png" alt="">
        </header> -->
        <section id="leftTabBox" class="sec_namic" >
            <header class="head margTopX" style="left: 0;">
                <!-- <img id="dtShuax" class="hed_img_icon" src="images/audio/xiao.png" alt="#"> -->
                <div class="hd">
                    <ul id="p_tjgz" class="hed_p">
                        <li data-l="0"><a data-t="" class="adynac" href="javascript:void(0)">推荐動態</a></li>
                        <li class="li_guanzh" data-l="1"><a data-t="dtfollows" class="adynac" href="javascript:void(0)">关注</a></li>
                    </ul>
                </div>
                <img id="img_ldtst" class="Img_search I_hist" src="images/room/sousuo.png" alt="">
            </header>
            <div class="bd divcenheig" id="tabBox1-bd">
                <div class="con">
                    <ul id="ul_tjians" class="gzList">
                        <li class="div_namic">
                            <div class="p_user">
                                <a data-t="user_detail" class="link w86" href="javascript:void(0)">
                                    <img class="img_user fl" src="images/my/man-1.png" alt="">
                                    <p class="p_font">姓名<i class="i_gender"></i><span class="sp_font">10分钟前</span></p>
                                    <p class="p_lx">Simple，so charming.</p>
                                </a>
                                <a class="link w12" href="javascript:void(0)">+关注</a>
                            </div>
                            <div><p class="texCent">想单枪匹马去闯荡江湖看看这五彩斑斓的世界</p></div>
                            <video style="display: none;" id="dy_video"  class="" poster="images/channel/chan_00.png"></video>
                            <ul class="ul_img">
                                <li class="w49">
                                    <img class="w100" src="images/channel/dynam3.png" alt="">
                                </li>
                                <li class="w49">
                                    <img class="w100" src="images/channel/dynam2.png" alt="">
                                </li>
                            </ul>
                            <p class="bot_A">
                                <a class="A_foot_dny w60" href="javascript:void(0)"><img class="A_img_icon" src="images/dynamic/zan.png" alt=""><sapn class="sp_rel">1000</sapn></a><a class="A_foot_dny w20" href="javascript:void(0)"><img class="A_img_icon" src="images/dynamic/zan.png" alt=""><sapn class="sp_rel">150</sapn></a><a class="A_foot_dny w20" href="javascript:void(0)"><img class="A_img_icon" src="images/dynamic/zan.png" alt=""><sapn class="sp_rel">150</sapn></a>
                            </p>
                        </li>
                    </ul>
                    <p id="p_none_dt" style="display: none;"></p>
                </div>
            </div>
        </section>
        <section class="sec_ban_img dan_Img" >
            <p class="center margTopX">
                <a class="a_banner_typ" id="one_numbert" href="javascript:void(0)">0/0</a>
            </p>
            <img id="dynam_gbs" class="img_bann_gb" src="images/my/search_back.png" alt="">
            <div id="div_img_one">
                <img class="img_one_ban" src="" alt="">
            </div>
        </section>
        <section class="sec_ban_img duoImg">
            <div class="center margTopX">
                <a class="a_banner_typ" id="img_numbert" href="javascript:void(0)">0/0</a>
                <img id="dynam_ban_gb" class="img_bann_gb" src="images/my/search_back.png" alt="">
            </div>
            <div style="position:relative;">
                <div id="" class="banner" style="width:100%;margin:0px auto;height: 100vh;">
                    <ul class="banner_nodis" id="namic_bannerImgObj">
                        <li data-v="" data-weburl="">                        <a><img src="images/channel/dynam3.png"></a>                    </li>
                    </ul>
                </div>
                <div class="page_scroll" ><p class="page" id="dynam_NavWarpObj" style="display: none;"></p></div>
                <div id="back-white"></div>
            </div>
        </section>
        <section class="sec_foot" style="padding-top: 0;"> 
            <p id="dyna_guaz" class="fixed_g">我也是有底线的</p>
        </section>
    </div>
</body>
</html>
