<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="" id="nodisturb">
        <header id="patX10" class="head_vid" style="border-bottom: none;background:transparent;">
            <div class="center">
                <p><i class="distFan" id="p_fan"></i><span id="spmynmz"></span></p>
                <a id="img_number" href="javascript:void(0)">6/9</a>
                <!-- <img class="img_fx" src="images/dynamic/Fill 1.png" alt=""> -->
            </div>
        </header>
        <section class="sec_col" > 
            <div style="position:relative;">
                <div id="" class="banner" style="width:100%;margin:0px auto;height: 100vh;">
                    <ul class="banner_nodis" id="dists_bannerImgObj">
                        <li data-v="" data-weburl=""> <a><img src="images/channel/dynam3.png"></a> </li>
                        <li data-v="" data-weburl=""><a><img src="images/channel/dynam2.png"></a></li>
                        <li data-v="" data-weburl=""><a><img src="images/channel/dynam3.png"></a></li>
                        <li data-v="" data-weburl=""><a><img src="images/channel/dynam2.png"></a></li>
                    </ul>
                </div>
                <div class="page_scroll" ><p class="page" id="distu_NavWarpObj" style="display: none;"></p></div>
                <div id="back-white"></div>
            </div>
        </section>
        <!-- 关注 -->
    </div>
</body>
</html>