<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="wrapper wraNext margTopX" id="nextHobby">
        <header class="head_vid margTopX">
            <div class="center">
                <p><i class="hobFan" id="p_fan"></i>兴趣爱好</p>
                <a data-t="hobqued" class="A_next col65" href="javascript:void(0)">确定</a>
            </div>
        </header>
        <section class="neName">
            <ul id="ul_hobby_aih" class="ul_pad10">
                <!-- <li data-t="liXqah" data-v="漂亮" class="li_bq lihoddye"><span class="sp_bq">漂亮</span></li> -->
            </ul>
            <!-- <p class="p_qtcont">其他：<input id="in_xqah" type="text" maxlength="5"><span>5个字以内</span></p> -->
        </section>
    </div>
</body>
</html>