<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" /> 
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title></title>
<link rel="stylesheet" href="css/global.css"/>
<style>
</style>
</head>
<body>
<!-- home_scrollBox -->
<div class="find margTopX" id="searc"> 
        <p class="p_iphoneX"></p>
	<header class="head margTopX">
        <div class="sea_div_hed">
			<p class="link sea_p_hed">	
				<img class="img_sea_hed" src="images/room/sousuo.png" alt="#">
				<input id="inp_sear_cont" class="inp_sea_hed" type="text" placeholder="請輸入搜索關鍵詞" maxlength="10">
				<a data-t="A_inp_nul" class="a_sea_hed center" href="javascript:void(0)"><img class="img_sea_gb" src="images/register/guan.png" alt=""></a>
			</p>
			<p class="link p_sea_qx center"><a id="a_sea_qx" data-t="search_qux" class="qx_a_sub" href="javascript:void(0)">取消</a></p>
			<p id="p_nul_text"></p>
        </div>
    </header>
    <section class="sec_sou_jl searNone">
		<div class="div_rmss">
			<p class="p_title_search">熱門搜索</p>
			<ul id="ul_labels" class="ul_search">
				<!-- <li class="li_sea_rm"><span class="span_rm">騷想幹</span></li>
				<li class="li_sea_rm"><span class="span_rm">靈魂有趣</span></li>
				<li class="li_sea_rm"><span class="span_rm">性感</span></li>
				<li class="li_sea_rm"><span class="span_rm">火辣</span></li> -->
			</ul>
		</div>
		<p></p>
		<div id="lishi" class="div_rmss pat_top10">
			<p class="p_title_search">搜索歷史<a data-t="over_remov" class="fr" href="javascript:void(0)"><img class="img_schu" src="images/home/shanchu.png" alt="#"></a></p>
			<ul id="ul_recha_sea" class="seac_ls">
				<!-- <li data-t="Lireco" data-v="都市" class="w100 li_sea_ls">
					<span class="span_title">都市</span>
					<a data-t="A_remov" data-d="0" class="fr A_fr_gb" href="javascript:void(0)"><i class="i_icon_x"></i></a>
				</li>
				<li data-t="Lireco" data-v="愛情" class="w100 li_sea_ls">
					<span class="span_title">愛情</span>
					<a data-t="A_remov" data-d="1" class="fr A_fr_gb" href="javascript:void(0)"><i class="i_icon_x"></i></a>
				</li>
				<li data-t="Lireco" data-v="歷史" class="w100 li_sea_ls">
					<span class="span_title">歷史</span>
					<a data-t="A_remov" data-d="2" class="fr A_fr_gb" href="javascript:void(0)"><i class="i_icon_x"></i></a>
				</li>
				<li data-t="Lireco" data-v="音樂" class="w100 li_sea_ls">
					<span class="span_title">音樂</span>
					<a data-t="A_remov" data-d="3" class="fr A_fr_gb" href="javascript:void(0)"><i class="i_icon_x"></i></a>
				</li> -->
			</ul>
		</div>
    </section>
    <section class="sec_cnlove searNone">
		<div class="div_cnxh">
			<p class="love_p"><img class="img_lv" src="images/room/lov.png" alt="#"><span>猜你喜歡</span></p>
			<ul>
				<!-- <li class="w100 li_patop"><img class="w100 bor_none" src="http://38.27.103.12/uploads/banner/20190604/banner01.jpg" alt="#"></li> -->
				<!-- <li class="w100 li_patop"><img class="w100 bor_none" src="http://38.27.103.12/uploads/banner/20190604/banner02.jpg" alt="#"></li> -->
			</ul>
		</div>
    </section>
    <section id="kailistObj" class="con_container con_patop">
    	<div id="div_sea_vide" class="div_mylove div_video_re">
            <!-- <ul class="ul_video">
                <li class="w35">
                    <img class="w100 img_sear_hg" src="http://cont.vf4hh.com:9001/uploads/20190412/17da28b5cfd042adb877f3d7d23e9e3d.jpg" alt="">
                </li>
                <li class="w61">
                    <p class="p_sea_clamp ">浴室裡有各種各樣的鬼怪浴室裡有各種各樣的鬼怪 </p>
                    <p class="p_bq_span"><span class="sp_bq">標籤</span><span class="sp_bq">標籤</span></p>
                    <p><span>分類 | 2018</span><span class="fr"><img class="im_gk_lov" src="images/room/bofang-3.png" alt="#">1933</span></p>
                </li>
            </ul> -->
        </div>
        <div class="di_content">
            <ul class="" id="ul_Lists">
                <!-- <li class="li_cont" data-v="你总是屄太软" data-g="http://b.77pu2.com//uploads/jpg/20190617/封面 (41).jpg">
                	<a class="showNow" href="javascript:void(0)" data-t="list" data-g="http://b.77pu2.com//uploads/jpg/20190617/封面 (41).jpg" data-v="你总是屄太软" data-c="348">
                		<div class="link d_left">
                			<p class="p_number">
                				<img class="flImg" src="images/audio/shiting.png" alt="">&nbsp;&nbsp;<span>8</span>
                			</p>
                			<img class="w100 imgfan" src="http://b.77pu2.com//uploads/jpg/20190617/封面 (41).jpg" alt="" style="height: 219px;">
                			<p class="center p_tit_book"><span>你总是屄太软</span></p>
                		</div>
                	</a>
                	<a href="javascript:void(0)" data-t="ALove" data-c="348"><p class="p_offOn"><span class="sp_scts">已收藏</span></p></a>
                </li>
                <li class="li_cont" data-v="你总是屄太软" data-g="http://b.77pu2.com//uploads/jpg/20190617/封面 (41).jpg">
                	<a class="showNow" href="javascript:void(0)" data-t="list" data-g="http://b.77pu2.com//uploads/jpg/20190617/封面 (41).jpg" data-v="你总是屄太软" data-c="348">
                		<div class="link d_left">
                			<p class="p_number">
                				<img class="flImg" src="images/audio/shiting.png" alt="">&nbsp;&nbsp;<span>8</span>
                			</p>
                			<img class="w100 imgfan" src="http://b.77pu2.com//uploads/jpg/20190617/封面 (41).jpg" alt="" style="height: 219px;">
                			<p class="center p_tit_book"><span>你总是屄太软</span></p>
                		</div>
                	</a>
                	<a href="javascript:void(0)" data-t="ALove" data-c="348"><p class="p_offOn"><span class="sp_scts">已收藏</span></p></a>
                </li> -->
            </ul>
        </div>
        <div id="sea_dynam" class="sec_namic sec_sou_jl" style="padding-top: 10px;">
            <!-- <div class="div_namic">
                <div class="p_user">
                    <a data-t="user_detail" class="link w86" href="javascript:void(0)">
                        <img class="img_user fl" src="http://img0.imgtn.bdimg.com/it/u=3293099503,606929711&fm=26&gp=0.jpg" alt="">
                        <p class="p_font">杨倩<i class="i_gender"></i><span class="sp_font">10分钟前</span></p>
                        <p class="p_lx">Simple，so charming.</p>
                    </a>
                    <a class="link w12" href="javascript:void(0)">+关注</a>
                </div>
                <div><p class="texCent">想单枪匹马去闯荡江湖看看这五彩斑斓的世界</p></div>
                <video style="display: none;" id="dy_video"  class="" poster="http://cont.vf4hh.com:9001/uploads/class/20190221/fdef1bca0b298b517d0e098511f0b863.jpg" controls="true"  src="http://www.w3school.com.cn/i/movie.ogg"></video>
                <ul class="ul_img">
                    <li class="w49">
                        <img class="w100" src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2834069625,3974548732&fm=26&gp=0.jpg" alt="">
                    </li>
                    <li class="w49">
                        <img class="w100" src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=235574862,2124449669&fm=26&gp=0.jpg" alt="">
                    </li>
                </ul>
                <p class="bot_A">
                    <a class="A_foot_dny w60" href="javascript:void(0)"><img class="A_img_icon" src="images/dynamic/zan.png" alt=""><sapn class="sp_rel">1000</sapn></a><a class="A_foot_dny w20" href="javascript:void(0)"><img class="A_img_icon" src="images/dynamic/zan.png" alt=""><sapn class="sp_rel">150</sapn></a><a class="A_foot_dny w20" href="javascript:void(0)"><img class="A_img_icon" src="images/dynamic/zan.png" alt=""><sapn class="sp_rel">150</sapn></a>
                </p>
            </div> -->
        </div>
        <div id="sea_achou" class="sea_zhubo">
			<!-- <ul class="ul_sea_lis">
				<li class="li_vate w17">
					<img class="img_wid" src="http://cont.vf4hh.com:9001/uploads/20190412/17da28b5cfd042adb877f3d7d23e9e3d.jpg" alt="#">
				</li>
				<li class="li_vate w60">
					<p class="p_sea_nam">朱宸慧<span class="sp_sea_ty"><i class="i_sa_icon i_mlz i_zaix i_lixian"></i>直播中</span></p>
					<p><span class="i_type i_ty_zbj">直播間</span><span class="i_type i_ty_ydy">一對一</span></p>
				</li>
				<li class="li_vate w23">
					<p class="p_sea_boot"><img class="im_wi_xin" src="images/room/xin.png" alt=""><span class="sp_gz_num">9233</span></p>
					<p><span class="sp_sa_gz">+關注</span></p>
				</li>
			</ul>
			<ul class="ul_sea_lis">
				<li class="li_vate w17">
					<img class="img_wid" src="http://cont.vf4hh.com:9001/uploads/20190412/17da28b5cfd042adb877f3d7d23e9e3d.jpg" alt="#">
				</li>
				<li class="li_vate w60">
					<p class="p_sea_nam">朱宸慧<span class="sp_sea_ty"><i class="i_sa_icon i_mlz i_zaix i_lixian"></i>直播中</span></p>
					<p><span class="i_type i_ty_zbj">直播間</span><span class="i_type i_ty_ydy">一對一</span></p>
				</li>
				<li class="li_vate w23">
					<p class="p_sea_boot"><img class="im_wi_xin" src="images/room/xin.png" alt=""><span class="sp_gz_num">9233</span></p>
					<p><a class="sp_sa_gz" href="javascript:void(0)">+關注</a></p>
				</li>
			</ul> -->
        </div>
    </section>
    <section class="sec_userZl search_alt" >
	    <div class="user_zl ">
	        <p id="p_titl_jl" class="p_kqzb center">清空歷史記錄</p>
	        <p id="conten_jl" class="ptsrz">確認清空歷史記錄</p>
	        <p class="p_butt">
	            <a id="A_sc_th" data-t="Axiaci" class="Aqx" href="javascript:void(0)"><span id="sp_sc" class="spqx">刪除</span></a>
	            <a data-t="ArzLVN" class="Akb" href="javascript:void(0)"><span class="spkb">取消</span></a>
	        </p>
	    </div>
	</section>
</div>
</body>
</html>