<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="find margTopX" id="space">
        <header class="head margTopX" style="height: 44px;background: rgba(248,248,248,0.82);border-bottom: 1px solid #ececec;">
            <p class="ptitle center">
                <i class="imgBut"></i>
                <span id="sp_nme">@楊倩的空間</span>
                <a data-t="AGuan" id="guanzhuA" class="A_zhu " href="javascript:void(0)"><span class="col_ygz Agz">+關注</span></a>
            </p>
            <!-- <img class="w100 hebfb" src="http://cont.vf4hh.com:9001/uploads/class/20190221/fdef1bca0b298b517d0e098511f0b863.jpg" alt=""> -->
        </header>
        <div class="diNul" style="height: 30px;"></div>
        <section id="dynac_cent" class="sec_namic">
            <!-- <div class="div_namic">
                <div class="p_user">
                    <a class="link w78" href="javascript:void(0)">
                        <img class="img_user fl" src="http://img0.imgtn.bdimg.com/it/u=3293099503,606929711&fm=26&gp=0.jpg" alt="">
                        <p class="p_font">杨倩<i class="i_gender"></i><span class="sp_font">10分钟前</span></p>
                        <p class="p_lx">Simple，so charming.</p>
                    </a>
                    <a class="link wid20" href="javascript:void(0)"><img src="images/room/wu.png" alt=""><span class="sp_fr">658</span></a>
                </div>
                <div><p class="texCent">想单枪匹马去闯荡江湖看看这五彩斑斓的世界</p></div>
                <video style="display: none;" id="dy_video"  class="" poster="http://cont.vf4hh.com:9001/uploads/class/20190221/fdef1bca0b298b517d0e098511f0b863.jpg" controls="true"  src="http://www.w3school.com.cn/i/movie.ogg"></video>
                <ul class="ul_img">
                    <li class="w49">
                        <img class="w100" src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2834069625,3974548732&fm=26&gp=0.jpg" alt="">
                    </li>
                    <li class="w49">
                        <img class="w100" src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=235574862,2124449669&fm=26&gp=0.jpg" alt="">
                    </li>
                </ul>
                <ul class="ul_img">
                    <li class="w70">
                        <img class="w100" style="height: 193px;" src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2834069625,3974548732&fm=26&gp=0.jpg" alt="">
                    </li>
                    <li class="w28">
                        <img class="w100" style="height: 95px;" src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=235574862,2124449669&fm=26&gp=0.jpg" alt="">
                        <p style="height: 3px;"></p>
                        <p class="pAfter"><span class="spmore">+2</span><img class="w100" style="height: 95px;" src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=235574862,2124449669&fm=26&gp=0.jpg" alt=""></p>
                    </li>
                </ul>
                <p class="bot_A">
                    <a class="w60" href="javascript:void(0)"><img src="images/dynamic/zan.png" alt=""><sapn class="sp_rel">1000</sapn></a><a class="w20" href="javascript:void(0)"><img src="images/dynamic/zan.png" alt=""><sapn class="sp_rel">150</sapn></a><a class="w20" href="javascript:void(0)"><img src="images/dynamic/zan.png" alt=""><sapn class="sp_rel">150</sapn></a>
                </p>
            </div> -->
        </section>
        <section id="spacNone" class="sec_posrel" style="height:80vh;background: #fff;">
            <div class="img_nulgon center" style="display: block;">
                <img class="img_wid" src="images/my/kong-2.png" alt="">
                <p class="center">空空如也</p>
            </div>
        </section>
        <section class="sec_foot" style="padding-top: 0;background:#fff;"> 
            <p id="space_hide" class="fixed_g">我也是有底线的</p>
        </section>
    </div>
</body>
</html>