<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Alive</title>
</head>
<body>
    <!-- <div class="find margTopX" id="Aliv"> liveUrl-->
    <div class="find" id="Aliv">
        <section class="sec_relat">
            <div style="padding:0 64px;">
                <img class="w100" src="images/my/hedNumber.png" alt="">
            </div>
            <div class="div_renshu">
                <p>当前用户数10,658人</p>
                <p>当前用户数10,658人</p>
                <p>当前用户数10,658人</p>
            </div>
            <div class="div_bottom">
                <p><img class="img_tou" src="images/my/bottom.png" alt=""></p>
                <img id="img_yqhy" class="img_but" src="images/my/yaoqing.png" alt="">
            </div>
        </section>
    </div>
</body>
</html>
