<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="" id="chatdetail">
        <header class="head_vid">
            <div class="center">
                <p><i class="chdetFan" id="p_fan"></i><span id="sp_name">白皇后</span></p>
                <!-- <a class="aAbsolute" href="javascript:void(0)"><img class="img_rela" src="images/room/liwu-3.png" alt=""><span>关注</span></a> -->
            </div>
        </header>
        <section class="sec_xxdeta">
            <p class="pTim">2019年5月31日 上午11:11</p>
            <div id="myusers">
                <div class="xxcont user_left">
                    <a class="A_afte" href="javascript:void(0)">
                        <img class="img_chat user_img" src="http://img0.imgtn.bdimg.com/it/u=3293099503,606929711&fm=26&gp=0.jpg" alt="">
                    </a>
                    <span class="p_content uesr_text">这个是发送的消息内容</span>
                </div>
            <!-- </div> -->
            <!-- <div id="myanchor"> -->
                <div class="xxcont anchor_right">
                    <a class="A_afte" href="javascript:void(0)">
                        <img class="img_chat anchor_img" src="http://img0.imgtn.bdimg.com/it/u=3293099503,606929711&fm=26&gp=0.jpg" alt="">
                    </a>
                    <span class="p_content anchor_text">这个是发送的消息内容</span>
                </div>
            </div>
        </section>
        <footer class="chat_foofixed">
            <ul>
                <li data-t="liGift" class="wid11"><img style="width: 24px;border-radius: 0;" src="images/room/liwu-3.png" alt="#"><i></i></li>
                <li class="wid78"><img style="width: 16px;border-radius: 0;" src="images/room/bianji.png" alt="#"><input id="goval" class="inp_sub" type="text"></li>
                <li id="fason" class="wid11 tergih"><img style="width: 24px;" src="images/my/jinyong.png" alt="#"></li>
            </ul>
        </footer>
        <div class="giftListuser" id="fixed_chatli" style="display: none;">
            <div id="giftdetal"></div>
            <div class="div">
                <ul id="giftlistUl">
                    <li data-t="Aslw" data-d="5" class="gift_fixed center "> 
                        <img style="width:36px;height:36px;border-radius:0;" src="http://b.77pu2.com//uploads/20190604/90ed68e83d98fae08997fc1d436ebb56.png" alt="">
                        <p class="gi_text">么么哒</p>
                        <p class="gi_mone">6海珠</p>
                    </li>
                    <li data-t="Aslw" data-d="7" class="gift_fixed center ">
                        <img style="width:36px;height:36px;border-radius:0;" src="http://b.77pu2.com//uploads/20190603/a0cc3ba6d4c4a8b18d74e56ee3c37143.png" alt="">
                        <p class="gi_text">棒棒糖</p>
                        <p class="gi_mone">15海珠</p>
                    </li>
                </ul>
                <p class="p_cz">
                    <span class="sp_left">
                        <img class="im_hz" src="images/room/money.png" alt="">
                        <span id="Im_hz_money" class="sp_mon">海珠：18245</span>
                        <a class="a_zhi" href="javascript:void(0)">快捷充值</a>
                    </span>
                    <span><a data-t="myIm_gift" class="righ" href="javascript:void(0)">发送</a></span>
                </p>
            </div>
        </div>
    </div>
</body>
</html>