<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>home</title>
</head>
<body>
    <div class="find margTopX" id="foot_fa">
        <p class="p_iphoneX"></p>
        <header class="head margTopX">
            <a data-t="" href="javascript:void(0)"><img id="img_wdhcs" class="Img_search I_down" src="images/room/message.png" alt=""></a>
            <div class="hd">
                <ul id="ulHdearTop" class="hed_p">
                    <li data-l="2"><a  class="a_zhi zhibo active" href="javascript:void(0)">直播间</a></li>
                    <li data-l="3" style="width: 30%;"><a class="a_zhi LVLid" href="javascript:void(0)">1V1视频</a></li>
                    <li data-l="1"><a class="a_zhi flowe" href="javascript:void(0)">关注</a></li>
                </ul>
            </div>
            <img id="img_lsjls" class="Img_search I_hist" src="images/room/sousuo.png" alt="">
        </header>
        <div class="dHide1 search pd0 hedGony" style="top: 44px; ">
            <ul id="typ_list" class="ul_type">
                <!-- <li class="link center hutp" data-t="fenlei" data-l="1VN" data-d="10"><span class="spActi active">推荐</span></li>
                <li class="link center " data-t="fenLVNtj" data-l="1VN" data-d="11"><span class="spActi ">新人</span></li>
                <li class="link center " data-t="fenLVNtj" data-l="1VN" data-d="64"><span class="spActi ">魅力榜</span></li>
                <li class="link center " data-t="fenLVNtj" data-l="1VN" data-d="65"><span class="spActi ">人气榜</span></li> -->
            </ul>
        </div>
        <div class="dHide2 sec_col pt40 hedGony" style="padding-top: 44px; ">
            <div style="position:relative;">
                <div class="banner" style="background:#fff;">
                    <div class="banner" style="width:100%;margin:0px auto;">
                        <ul class="banner_scroll" id="kaij_bannerImgObj" "></ul>
                    </div>
                    <div id="back-white"></div>
                </div>
            </div>
            <!-- <div class="div_pai">
                <p id="gomeili" class="link w49">
                    <img class="mr10" src="images/room/xin.png" alt="">
                    <span class="r12">魅力排行榜</span>
                </p>
                <ul id="ul_charm" class="link w49" style="text-align: right;"><li data-t="Lmeili" data-d="124" class="w20"><img class="img_bor" src="http://b.77pu2.com//uploads/image/20190611/1eec28a690d2e27137c6885a19b21d19.jpg" alt=""></li><li data-t="Lmeili" data-d="143" class="w20"><img class="img_bor" src="http://b.77pu2.com//uploads/image/20190611/8cc481c7cfcc693f9659ee87d6760f87.jpg" alt=""></li><li data-t="Lmeili" data-d="182" class="w20"><img class="img_bor" src="http://b.77pu2.com//uploads/png/20190628/1d48d69f30f58be9efdef373139d3372.png" alt=""></li><li data-t="Lmeili" data-d="117" class="w20"><img class="img_bor" src="http://b.77pu2.com//uploads/image/20190610/fe7baced4a3bb13ac122745aca85a8ee.jpg" alt=""></li><li data-t="Lmeili" data-d="133" class="w20"><img class="img_bor" src="http://b.77pu2.com//uploads/image/20190611/771149d9483caa733b3af49475c44959.jpg" alt=""></li></ul>
            </div> -->
        </div>
        <section class="bd" id="tabBox1-ft">
            <div class="con">
                <ul>
                    <li id="liheigone" class="sec_hide s_rooms w100">
                        <div class="div_pai">
                            <a class="ALink w100" data-t="Lmeili" data-l="1VN" href="javascript:void(0)">
                                <p id="gomeili" class="link w49">
                                    <img class="mr10" src="images/room/xin.png" alt="">
                                    <span class="r12">魅力排行榜</span>
                                </p>
                                <ul id="ul_charm" class="link w49" style="text-align: right;">
                                </ul>
                            </a>
                        </div>
                        <div id="zhiboj" class="dHide3 foo_content" style=" padding-top: 0px;">
                            <div id="div_zhubozaix" class="div_offNo" style="display: none;">
                                <p class="p_href"><img src="images/room/zb.png" alt="">正在直播 <span id="onNumber" class="pText"></span></p>
                                <ul id="on_zx"></ul>
                            </div>
                            <div class="div_offNo" style="">
                                <p class="p_href"><img src="images/room/zbs.png" alt="">还未开播 <span id="offNumber" class="pText"></span></p>
                                <ul id="off_lx">
                                    <li class="w100">
                                        <p class="p_soule re1"> <i class="i_color gray"></i> </p>
                                        <a data-t="Adeta" data-d="135" data-l="1VN" data-h="Fl301865" href="javascript:void(0)">
                                            <img class="img_nam igHight" src="images/channel/live3.png" alt="" style="height: 347px;"><p class="botPos center back_col"></p>
                                        </a> 
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="con">
                <ul>
                    <li id="liheigtwo" class="sec_hide s_rooms w100">
                        <div class="dHide8 search pd0 hedGony" style="top: 44px; ">
                            <ul id="typ_list_lvl" class="ul_type">
                                <!-- <li class="link center hutp" data-t="fenlei" data-l="1VN" data-d="10"><span class="spActi active">推荐</span></li><li class="link center " data-t="fenLVNtj" data-l="1VN" data-d="11"><span class="spActi ">新</span></li><li class="link center " data-t="fenLVNtj" data-l="1VN" data-d="64"><span class="spActi ">魅力</span></li><li class="link center " data-t="fenLVNtj" data-l="1VN" data-d="65"><span class="spActi ">人气榜</span></li> -->
                            </ul>
                        </div>
                        <div class="div_pai">
                            <a class="ALink w100" data-t="Lmeili" data-l="1V1" href="javascript:void(0)">
                                <p id="gomeilitwo" class="link w49">
                                    <img class="mr10" src="images/room/xin.png" alt="">
                                    <span class="r12">魅力排行榜</span>
                                </p>
                                <ul id="ul_charmLVL" class="link w49" style="text-align: right;">
                                    <!-- <li data-t="Lmeili" data-d="124" class="w20"><img class="img_bor" src="http://b.77pu2.com//uploads/image/20190611/1eec28a690d2e27137c6885a19b21d19.jpg" alt=""></li> -->
                                </ul>
                            </a>
                        </div>
                        <div id="LVLship" class="dHide4 div_offNo" style="">
                            <ul id="ul_1V1">
                                <!-- <li class="w48 page" style="margin-bottom:10px">                        
                                    <p class="p_relo"><span><i class=""></i>空闲</span><a class="A_LVL_gz" data-w="A" data-t="imgFoll" data-d="215" data-h="cl902547" href="javascript:void(0)"><img class="fr" src="images/room/no.png" alt=""></a></p>                        
                                    <a data-t="Adeta" data-d="215" data-l="1V1" data-z="cl902547" href="javascript:void(0)">                            <img class="w100 imHeiLVL" src="http://b.77pu2.com//uploads/image/20190704/77fd5fd1383921012a323598f1b2d77f.jpg" alt="" style="height: 227px;">                        </a>                        
                                    <div class="vid_bot">                            
                                        <a class="block A_col_te" data-t="goroom" data-n="小黄莺" data-g="http://b.77pu2.com//uploads/png/20190704/d6898b3a4f72d84a709184481e784bde.png" data-d="215" data-f="undefined" data-l="1V1" data-h="cl902547" href="javascript:void(0)">                                
                                            <ul>                                    
                                                <li class="wid_li wid40"> <span>小黄莺</span></li>                                    
                                                <li class="wid_li wid40 center"><span style="font-size:1rem;">15币/分</span></li>                                    
                                                <li class="wid_li wid20"><img style="width:26px;" src="images/room/camera.png" alt=""></li>
                                            </ul>
                                        </a>                        
                                    </div>                    
                                </li> -->
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="con">
                <ul>
                    <li id="liheigthre" class="sec_hide s_follow w100">
                        <div class="foo_content">
                            <div class="div_offNo">
                                <p class="p_href"><img src="images/room/zhuanshu.png" alt="">1v1視頻主播 </p>
                                <ul id="lVl_onlin">
                                    <!-- <li class="w48 page" style="margin-bottom:10px">
                                        <p class="p_relo"><span><i></i>在线</span><a data-t="goIm" data-l="1V1" data-i="215" data-d="cl902547" data-n="小黄莺" data-g="http://b.77pu2.com//uploads/png/20190704/d6898b3a4f72d84a709184481e784bde.png" href="javascript:void(0)"><img class="fr" src="images/room/message.png" alt=""></a></p>
                                        <a data-t="Adeta" data-d="215" data-l="1V1" data-h="cl902547" href="javascript:void(0)">
                                            <img class="w100 imHeig" src="http://b.77pu2.com//uploads/image/20190704/77fd5fd1383921012a323598f1b2d77f.jpg" alt="" style="height: 227px;">
                                        </a>
                                        <div class="vid_bot">
                                            <a data-t="goroom" data-n="小黄莺" data-g="http://b.77pu2.com//uploads/png/20190704/d6898b3a4f72d84a709184481e784bde.png" data-d="215" data-l="1V1" data-h="cl902547" class="block A_col_te" href="javascript:void(0)">
                                                <ul>
                                                    <li class="wid_li wid40"><span>小黄莺</span></li> 
                                                    <li class="wid_li wid40 center"><span style="font-size:1rem;">15币/分</span></li>
                                                    <li class="wid_li wid20"><img style="width:26px;" src="images/room/camera.png" alt=""></li>
                                                </ul>
                                            </a> 
                                        </div>
                                    </li> -->
                                </ul>
                            </div>
                            <div class="div_offNo" style="margin-top: -10px;">
                                <p class="p_href"><img src="images/room/zb.png" alt="">直播間主播 <span id="zb_zx" class="pText"></span></p>
                                <ul id="fl_onlin">
                                    <!-- <li class="w48">
                                        <p class="p_soule re1"> <i class="i_color gray"></i> </p>
                                        <a data-t="Adeta" data-d="135" data-l="1VN" data-h="Fl301865" href="javascript:void(0)">
                                            <img class="img_nam igHight" src="http://b.77pu2.com//uploads/image/20190611/ac6b51323ecf2f8ea27240f00dd3ac80.jpg" alt="" style="height: 227px;"><p class="botPos center back_col"></p>
                                        </a> 
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="sec_foot" style="padding-top: 0;"> 
            <p id="fix_hide" class="fixed_g">我也是有底线的</p>
        </section> 
    </div>
</body>
</html>
