<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="" id="imfollow">
        <header class="head_vid" style="border:0;">
            <div class="center">
                <p><i class="imFan" id="p_fan"></i>关注</p>
                <!-- <a class="aAbsolute" href="javascript:void(0)"><img class="img_rela" src="images/room/liwu-3.png" alt=""><span>关注</span></a> -->
            </div>
        </header>
        <section class="sec_chat">
            <div class="chat_list">
                <ul>
                    <li class="verMid w18"><img class="nameImg" src="http://img0.imgtn.bdimg.com/it/u=3293099503,606929711&fm=26&gp=0.jpg" alt=""></li>
                    <li class="verMid w60">
                        <b class="b_title">朱宸慧<span class="col_zbj">直播间</span></b>
                        <p class="p_col9B text_hid">发布新的版本了，赶紧去更新吧</p>
                    </li>
                    <li class="verMid w22">
                        <p class="p_col9B p_time"><img class="im_r12" src="images/room/xin.png" alt=""><span>9233</span></p>
                        <p class="p_col9B">在线</p>
                    </li>
                </ul>
                <div class="div_remove">
                    <p class="p_datA"><a class="link" href="javascript:void(0)">置顶</a><a class="link" href="javascript:void(0)">屏蔽</a><a class="link" href="javascript:void(0)">删除</a></p>
                    <p class="center"><i></i></p>
                </div>
            </div>
            <div class="chat_list">
                <ul>
                    <li class="verMid w18"><img class="nameImg" src="http://img0.imgtn.bdimg.com/it/u=3293099503,606929711&fm=26&gp=0.jpg" alt=""></li>
                    <li class="verMid w60">
                        <b class="b_title">听见浪涛声<span class="col_zbj">直播间</span></b>
                        <p class="p_col9B text_hid">发布新的版本了，赶紧去更新吧</p>
                    </li>
                    <li class="verMid w22">
                        <p class="p_col9B p_time"><img class="im_r12" src="images/room/xin.png" alt=""><span>933</span></p>
                        <p class="p_col9B">五分钟前在线</p>
                    </li>
                </ul>
                <div class="div_remove">
                    <p class="p_datA"><a class="link" href="javascript:void(0)">置顶</a><a class="link" href="javascript:void(0)">屏蔽</a><a class="link" href="javascript:void(0)">删除</a></p>
                    <p class="center"><i></i></p>
                </div>
            </div>
            <div class="chat_list">
                <ul>
                    <li class="verMid w18"><img class="nameImg" src="http://img0.imgtn.bdimg.com/it/u=3293099503,606929711&fm=26&gp=0.jpg" alt=""></li>
                    <li class="verMid w60">
                        <b class="b_title">白皇后<span class="col_zbj">直播间</span><span class="sp_ydy">一对一</span></b>
                        <p class="p_col9B text_hid">发布新的版本了，赶紧去更新吧</p>
                    </li>
                    <li class="verMid w22">
                        <p class="p_col9B p_time"><img class="im_r12" src="images/room/xin.png" alt=""><span>233</span></p>
                        <p class="p_col9B">1天前在线</p>
                    </li>
                </ul>
                <div class="div_remove">
                    <p class="p_datA"><a class="link" href="javascript:void(0)">置顶</a><a class="link" href="javascript:void(0)">屏蔽</a><a class="link" href="javascript:void(0)">删除</a></p>
                    <p class="center"><i></i></p>
                </div>
            </div>
            <div class="chat_list ">
                <ul>
                    <li class="verMid w18"><img class="nameImg" src="http://img0.imgtn.bdimg.com/it/u=3293099503,606929711&fm=26&gp=0.jpg" alt=""></li>
                    <li class="verMid w60">
                        <b class="b_title">静宝宝呀<span class="sp_ydy">一对一</span></b>
                        <p class="p_col9B text_hid">发布新的版本了，赶紧去更新吧</p>
                    </li>
                    <li class="verMid w22">
                        <p class="p_col9B p_time"><img class="im_r12" src="images/room/xin.png" alt=""><span>9233</span></p>
                        <p class="p_col9B">免打扰</p>
                    </li>
                </ul>
                <div class="div_remove">
                    <p class="p_datA"><a class="link" href="javascript:void(0)">置顶</a><a class="link" href="javascript:void(0)">屏蔽</a><a class="link" href="javascript:void(0)">删除</a></p>
                    <p class="center"><i></i></p>
                </div>
            </div>
        </section>
    </div>
</body>
</html>