<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
    <style>
        
    </style>
</head>
<body>
    <div class="wrapper hed_gy" id="Advertis">
        <header class="head_vid">
            <div class="center">
                <p><i class="devrt_fan" id="p_fan"></i>广告中心</p>
            </div>
        </header>
        <section class="sec_Adevr">
            <ul>
                <li class="w100 lipat10"><img class="w100" src="images/moren/banner.png" alt="#"></li>
                <li class="w100 lipat10"><img class="w100" src="images/moren/banner.png" alt="#"></li>
            </ul>
        </section>
    </div>
</body>
</html>