<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- <link rel="stylesheet" href="css/find.css">  -->
    <title>home</title>
</head>
<body>
    <div class="bacfff divHead margTopX" id="money">
        <p class="p_iphoneX"></p>
        <header class="head_vid margTopX" style="border:0;background: linear-gradient(90deg,rgba(144,19,254,1) 0%,rgba(113,210,255,1) 100%);">
            <div class="center">
                <p><i class="monFan" id="p_fan"></i><span id="liveType">充值中心</span></p>
                <a data-t="A_records" class="aAbsolute Afff" href="javascript:void(0)"><span>记录</span></a>
            </div>
        </header>
        <section class="sec_mone">
            <div class="di_linear">
                <img class="w100" src="images/channel/Mask.png" alt="">
                <div class="di_absou">
                    <p><img class="fl iph" src="images/my/shouji.png" alt=""><span id="mobli_hm">手机号</span></p>
                    <p class="pRight"><img class="im_boot" src="images/my/jingyu.png" alt=""><br/><span id="gotoKf" class="spKf">客服</span></p>
                </div>
                <div class="di_zhen">
                    <h2 class="center"><span id="sp_mony">0</span><br/><span class="pHz">余额</span></h2>
                </div>
                <!-- <div class="di_zhen"><img class="wid160" src="images/my/mymoney.png" alt=""></div> -->
            </div>
        </section>
        <section class="sec_fee">
            <!-- <div class="center diMoney">
                <h2><span class="pHz">金幣</span><span id="sp_mony">1958565</span></h2>
            </div> -->
            <div class="div_mony_list">
                <ul id="ulPlay" class="ul_list_my">
                    <li class="w48 li_my_lt activ">
                        <span class="sp_left_fl"><b class="b_with">10金幣</b>(10元)</span>
                        <span class="fr span_righ_fr"></span>
                    </li>
                   <!--  <li class="w100 li_my_lt">
                       <span class="sp_left_fl"><b class="b_with">10金幣</b>(10元)</span>
                       <span class="fr span_righ_fr">贈五次免費觀影</span>
                   </li>
                   <li class="w100 li_my_lt">
                       <span class="sp_left_fl"><b class="b_with">10金幣</b>(10元)</span>
                       <span class="fr span_righ_fr">贈五次免費觀影</span>
                   </li> -->
                </ul>
            </div>
            <!-- <div class="cz_type">
                <a class="tyA textleft Mactiv" href="javascript:void(0)"><span class="sp_zxcz">在线充值</span></a>
                <a class="tyA texright" href="javascript:void(0)"><span class="sp_zxcz">代理充值</span></a>
            </div> -->
            <!-- <div class="monList">
                <ul id="ulPlay" class="ulFlex">
                    <li class="liFle center colC86">
                        <p class="haiz">10海珠</p>
                        <p class="jiag">10元</p>
                    </li>
                    <li class="liFle center">
                        <p class="haiz">20海珠</p>
                        <p class="jiag">20元</p>
                    </li>
                    <li class="liFle center">
                        <p class="haiz">50海珠</p>
                        <p class="jiag">50元</p>
                    </li>
                </ul>
            </div> -->
            <div class="divWap">
                <ul id="ulWechat">
                    <li class="center borLid">
                        <img class="im_borno" src="images/my/ali.png" alt="">
                        <span>支付宝</span>
                    </li>
                </ul>
            </div>
            <div class="div_sm">
                <h3 class="czsm">充值说明</h3>
                <div>
                    <p class="pSm">1. 购买完成不可退还；</p>
                    <p class="pSm">2. 购买成功后一般在5分钟内到账，如未到账，请联系客服；</p>
                    <p class="pSm">3. 购买完成不可退还；</p>
                </div>
            </div>
        </section>
        <footer class="center moFxed">
            <p class="p_gmje">購買金額：<span id="sp_jezs">￥0</span></p>
            <a data-t="Agoumai" class="a_gm" href="javascript:void(0)">购买</a>
        </footer>
        
    </div>
</body>
</html>