<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="divHead margTopX" id="myfree">
        <p class="p_iphoneX" style="background: url(images/my/mybjs.png);background-size: 100%;"></p>
        <header class="head_vid margTopX" style="border:0;">
            <div class="center">
                <i class="free_fan" id="p_fan"></i>
                <!-- <p class="center">
                    <a class="A_fff link " href="javascript:void(0)">分享贏豪禮</a>
                </p> -->
            </div>
        </header>
        <section class="sec_free">
            <img class="w100 imbj_rad" src="images/my/mybjs.png" alt="">
            <div class="di_fr_cis">
                <img class="img_gyc" src="images/my/free.png" alt="">
                <p id="imgTextdr" class="free_dryx">當日有效</p>
                <p id="p_nm_cis" class="fre_text_num">5/5次</p>
            </div>
            <div style="padding-bottom: 10px;">
                <p class="p_fr_tit">免费增加观看次数</p>
                <ul class="w100 ul_free_cont">
                    <li data-t="jysj" class="w35"><img class="im_rad_no" src="images/my/shouji-3.png" alt=""><span class="sp_tex_text">校验手机</span></li>
                    <li data-t="jysj" class="w65"><p class="sp_tex_cont">校验成功+3次</p><i class="i_icon_right"></i></li>
                </ul>
                <ul class="w100 ul_free_cont">
                    <li data-t="yqhy" class="w35"><img class="im_rad_no" src="images/my/mail-open.png" alt=""><span class="sp_tex_text">分享好友</span></li>
                    <li data-t="yqhy" class="w65"><p class="sp_tex_cont">分享成功得VIP</p><i class="i_icon_right"></i></li>
                </ul>
                <ul class="w100 ul_free_cont">
                    <li data-t="band" class="w35"><img class="im_rad_no" src="images/my/zhuanfa.png" alt=""><span class="sp_tex_text">綁定邀請碼</span></li>
                    <li data-t="band" class="w65"><p class="sp_tex_cont">绑定成功得VIP</p><i class="i_icon_right"></i></li>
                </ul>
            </div>
            <div >
                <p class="p_fr_tit">购买VIP观影套餐</p>
                <div class="div_cent_list">
                    <!-- <p class="p_index_text">VIP會員全站無限觀影，海量、高清、流暢</p> -->
                    <ul id="ul_vip_list" class="ul_cz_list">
                    </ul>
                <p class="p_fr_tit" style="padding:0">购买VIP观影套餐</p>
                    <ul id="moneyType_list" class="ul_payle_type">
                    </ul>
                </div>
            </div>
            <div class="div_free_tq">
                <p class="p_vip_tq"><img src="images/my/frleft.png" alt=""> VIP特权<img src="images/my/frright.png" alt=""></p>
                <p class="p_free_text"><span>无限</span>无限次观影，看到停不下来</p>
                <p class="p_free_text"><span>海量</span>专属片源，持续更新</p>
                <p class="p_free_text"><span>高清</span>独享高清视角，身临其境</p>
                <p class="p_free_text"><span>流畅</span>即点即播，想看哪里看哪里</p>
            </div>
            <footer class="footr_fixed_gm">
                <ul>
                    <li data-t="Customer" class="wid30">聯繫客服</li>
                    <li data-t="purchase" class="wid70"><span id="span_money_gm">￥</span><span class="sp_sub_gm">確認購買</span></li>
                </ul>
            </footer>
        </section>
    </div>
</body>
</html>