<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
    <style>
        
    </style>
</head>
<body>
    <div id="mylove" class="margTopX">
        <header class="head_vid margTopX">
            <div class="center">
                <p><i class="lov_fan" id="p_fan"></i>我的收藏</p>
                <a class="A_next" href="javascript:void(0)" style="display: none;">編輯</a>
            </div>
        </header>
    </div>
    <section class="sec_distu">
        <div class="slide_tab">
            <div class="tab_box">
                <div id="loveSc" class="tab">
                    <a data-t="A_love_my" data-d="1" class="item A_aft_sol cur" href="javascript:void(0)">視頻</a>
                    <a data-t="A_love_my" data-d="2" class="item A_aft_sol" href="javascript:void(0)">聽書</a>
                    <!-- <a data-t="A_love_my" data-d="3" class="item" href="javascript:void(0)">動態</a> -->
                </div>  
            </div>
        </div>
        <div id="ul_lov" class="div_mylove div_video_lt">
            <div>
                <a href="javascript:void(0)"></a>
                <!-- <ul class="ul_video">
                    <li class="w49">
                        <img class="w100 img_love_hg" src="http://cont.vf4hh.com:9001/uploads/20190412/17da28b5cfd042adb877f3d7d23e9e3d.jpg" alt="">
                    </li>
                    <li class="w49">
                        <p class="p_love_clamp ">浴室裡有各種各樣的鬼怪浴室裡有各種各樣的鬼怪 </p>
                        <p class="p_bq_span"><span class="sp_bq">標籤</span><span class="sp_bq">標籤</span></p>
                        <p><span>分類 | 2018</span><span class="fr"><img class="im_gk_lov" src="images/room/bofang-3.png" alt="#">1933</span></p>
                    </li>
                </ul> -->
            </div>
        </div>
        <div id="kailistObj" class="con_container div_audio_lt">
            <div class="di_content">
                <ul id="ul_book" class="">
                    <!-- <li class="li_cont" data-v="你总是屄太软" data-g="http://b.77pu2.com//uploads/jpg/20190617/封面 (41).jpg">                            
                        <a class="showNow" href="javascript:void(0)" data-t="list" data-g="http://b.77pu2.com//uploads/jpg/20190617/封面 (41).jpg" data-v="你总是屄太软" data-c="348">
                            <div class="link d_left">
                                <img class="w100 imgfan" src="http://b.77pu2.com//uploads/jpg/20190617/封面 (41).jpg" alt="" style="height: 97px;">
                                <p class="p_number"><img class="flImg" src="images/audio/shiting.png" alt="">&nbsp;&nbsp;<span>5</span></p>
                            </div>
                        </a> 
                        <div class="link d_right" style="height: 97px;">
                            <a class="showNow" href="javascript:void(0)" data-t="list" data-g="http://b.77pu2.com//uploads/jpg/20190617/封面 (41).jpg" data-v="你总是屄太软" data-c="348">
                                <p class="p_weight">你总是屄太软</p>
                            </a>
                            <a class="showNow" href="javascript:void(0)" data-t="list" data-g="http://b.77pu2.com//uploads/jpg/20190617/封面 (41).jpg" data-v="你总是屄太软" data-c="348">
                                <p class="p_type"><span style="background:#b8ea83">美女少婦</span></p>
                            </a>
                            <a href="javascript:void(0)" data-t="ALove" data-c="348"><p class="p_offOn"><span class="sp_scts">已收藏</span></p></a>
                        </div>
                    </li> -->
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div id="dynacmtai" class="sec_namic sec_sou_jl div_dynam_lt" style="padding-top: 10px;">
            <!-- <div class="div_namic">
                <div class="p_user">
                    <a data-t="user_detail" class="link w86" href="javascript:void(0)">
                        <img class="img_user fl" src="http://img0.imgtn.bdimg.com/it/u=3293099503,606929711&fm=26&gp=0.jpg" alt="">
                        <p class="p_font">杨倩<i class="i_gender"></i><span class="sp_font">10分钟前</span></p>
                        <p class="p_lx">Simple，so charming.</p>
                    </a>
                    <a class="link w12" href="javascript:void(0)">+关注</a>
                </div>
                <div><p class="texCent">想单枪匹马去闯荡江湖看看这五彩斑斓的世界</p></div>
                <video style="display: none;" id="dy_video"  class="" poster="http://cont.vf4hh.com:9001/uploads/class/20190221/fdef1bca0b298b517d0e098511f0b863.jpg" controls="true"  src="http://www.w3school.com.cn/i/movie.ogg"></video>
                <ul class="ul_img">
                    <li class="w49">
                        <img class="w100" src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2834069625,3974548732&fm=26&gp=0.jpg" alt="">
                    </li>
                    <li class="w49">
                        <img class="w100" src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=235574862,2124449669&fm=26&gp=0.jpg" alt="">
                    </li>
                </ul>
                <p class="bot_A">
                    <a class="A_foot_dny w60" href="javascript:void(0)"><img class="A_img_icon" src="images/dynamic/zan.png" alt=""><sapn class="sp_rel">1000</sapn></a><a class="A_foot_dny w20" href="javascript:void(0)"><img class="A_img_icon" src="images/dynamic/zan.png" alt=""><sapn class="sp_rel">150</sapn></a><a class="A_foot_dny w20" href="javascript:void(0)"><img class="A_img_icon" src="images/dynamic/zan.png" alt=""><sapn class="sp_rel">150</sapn></a>
                </p>
            </div> -->
        </div>
    </section>
    <section class="sec_posrel">
        <div id="no_lov" class="img_nulgon center">
            <img class="img_wid" src="images/my/kong-2.png" alt="">
            <p class="center">空空如也</p>
        </div>
    </section>
    
            <!-- <div class="d_ty_sh" style="padding-top: 0;">
                <div class="D_reco">
                    <ul id="ul_lov">
                    </ul>
                </div>
                <p style="padding-top: 20px;" id="love_hide" class="fixed_g">我也是有底线的</p>
            </div> -->
    <!-- <div class="wrapper hed_gy bac_fff" id="mylove">
        <header class="head_set">
            <div class="div_hed"><p><i class="lov_fan" id="p_fan"></i>我的喜歡</p></div>
        </header>
        <section class="no_gy_sec">
            <div class="div_feed">
                <div id="no_lov" class="img_nul center">
                    <img src="images/my/empty.png" alt="">
                    <p class="center col_00">您還沒有喜歡的視頻</p>
                    <p class="center col_be">在詳情頁可點擊喜歡按鈕收藏喜歡的視頻</p>
                </div>
                <div class="d_ty_sh" style="padding-top: 0;">
                    <div class="D_reco">
                        <ul id="ul_lov">
                        </ul>
                    </div>
                    <p style="padding-top: 20px;" id="love_hide" class="fixed_g">我也是有底线的</p>
                </div>
            </div>
        </section>
    </div> -->
</body>
</html>