<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
    <style>
        
    </style>
</head>
<body>
    <div class="wrapper hed_gy" id="offline">
        <header class="head_set">
            <div class="div_hed"><p><i class="offline_fan" id="p_fan"></i>離線緩存</p></div>
        </header>
        <section class="offli_sec">
            <div class="off_img center" style="display:none;">
                <img src="images/my/empty.png" alt="">
                <p class="p_333">您還沒有緩存</p>
                <p class="p_gray">在詳情頁可點擊離線緩存按鈕進行緩存</p>
            </div>
        </section>
         <section class="sec_foot"> 
            <ul id="ul_set">
                <li class="div_cen offli_sec" style="width:100%;">
                    <div class="off_img center" >
                        <img src="images/my/empty.png" alt="">
                        <p class="p_333">您還沒有緩存</p>
                        <p class="p_gray">在詳情頁可點擊離線緩存按鈕進行緩存</p>
                    </div>
                </li> 
            </ul> 
        </section> 
    </div>
</body>
</html>