<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title></title>
<!-- <link rel="stylesheet" href="css/global.css"/> -->
<style>
</style>
</head>
<body>
<div class="wrapper" id="userCenter_wrapperObj">
	<section class="centerWrap" id="userCenter_droploadWrap">
		<header class="head cl_fff" style="border:0;">	
	        <p style="" class="hed_p">我的 <span id="sp_qie">切換賬號</span></p>
	    </header>
	    <div style="background:#4167b2;height:50px;padding-top:90px;" ></div>
		<div class="head_url"> 
		<!--  li_vip_cen  ul_fenxiang-->
			<ul id="div_name" class="me_absou">
				<li class="divLink wi35" data-t="zhgl">
					<img class="imgMy" src="images/me/hg_wd1_07.png" alt="#">
				</li>
				<li class="divLink wi65">
					<h3 class="h3">暱稱<!-- <img class="li_vip_cen" src="images/img/kdsp_wd_vip.png" alt=""> --></h3>
					<p class="p_pad">
						<a class="a_col" href="#"> ID:EFiOadck&nbsp;</a>
						<a class="a_col" href="#"><!-- <img class="icon_iph" src="images/sz_icon_phone.png" alt="#"> -->綁定手機號</a>
					</p>
					<!-- <p class="p_fdb904"><img src="images/img/kdsp_wd_zs.png" alt="">10000</p> -->
				</li>
			</ul>
		</div>

		<div class="my_secTwo">
			<ul id="ul_fenxiang" class="me_ul padbot" style="display: none;">
				<!-- <li class="Li_wh" data-t='Avip'>
					<img class="img_icon" src="images/img/kdsp_wd_vip.png" alt="">
					<span>VIP會員</span>
					<img style="width: 27px;margin-bottom: 8px;" src="images/img/kdspwd_h.png" alt="">
				</li>
				<li class="Li_wh right" data-t='Avip'>
					<span></span>
					<img class="img_icon" src="images/img/kdsp_wd_fh.png" alt="">
				</li> -->
			</ul>
			<ul id="fenx" class="me_ul padbot">
				<li class="Li_wh Li_after">
					<!-- <img src="images/img/kdsp_wd_wdtg.png" alt=""> -->
					<!-- <span>分享獲取觀影次數</span> me_ul -->
					<p class="p_col" id="p_number">10/10</p>
					<p class="p_size">今日剩餘觀影次數</p>
				</li>
				<li class="Li_wh right" data-t='wytg'>
					<p class="p_col">分享升級</p>
					<p class="p_size">分享獲取更多次數</p>
					<!-- <span></span> -->
					<!-- <img class="img_icon" src="images/img/kdsp_wd_fh.png" alt=""> -->
				</li>
			</ul>
			<!-- <ul id="fenx" class="me_ul padbot" style="display: none;">
				<li class="Li_wh" data-t='wytg' style="width:65%; ">
					<img src="images/img/kdsp_wd_wdtg.png" alt="">
					<span>分享獲取觀影次數</span>
				</li>
				<li class="Li_wh right" data-t='wytg' style="width:35%;">
					<span></span>
					<img class="img_icon" src="images/img/kdsp_wd_fh.png" alt="">
				</li>
			</ul> -->
			<section class="sec_col"> 
		        <div style="position:relative;">
		            <div class="banner" style="background:#fff;height:146px;">
		                <div class="banner" style="width:100%;margin:0px auto;">
		                    <ul class="banner_scroll" id="user_bannerImgObj">
		                        <li data-v="/activity/regnewBonus" data-weburl="" style="transition: all 0s ease; transform: translate3d(0px, 0px, 0px);">
		                            <a><img src="images/channel/chan_00.png"></a>
		                        </li>
		                    </ul>
		                </div>
		                <div class="page_scroll" ><p class="page" id="user_NavWarpObj"></p></div>
		                <div id="back-white"></div>
		            </div>
		        </div>
		    </section>
			<ul class="ul_jiu">
				<!-- <video id="bideo" class="vihid" poster="http://v.4caomei.net:8269/uploads/20181227/24681cdc2ecc148f3feb5e2dd9b76ffd.jpg" controls="true" autoplay="" src="http://b.lotchet.com/upload/15503494164107102251d5528b.m3u8"></video> -->
				<li id="Potato" class="li_cent me_ul" data-t="hbjlq">
					<img class="img_icon" src="images/img/jlq.png" alt="">
					<p class="p_set">火爆交流群</p>
				</li>
				<li class="li_cent me_ul" data-t="yaoqm">
					<img class="img_icon" src="images/img/yqm.png" alt="">
					<p class="p_set">輸入邀請碼</p>
				</li>
				<li class="li_cent me_ul" data-t="lsjls">
					<img class="img_icon" src="images/img/lsjl2.png" alt="">
					<p class="p_set">歷史記錄</p>
				</li>
				<!-- <li class="li_cent me_ul" data-t="wdhc">
					<img class="img_icon" src="images/img/wdxh.png" alt="">
					<p class="p_set">我的緩存</p>
				</li> -->
				<li class="li_cent me_ul" data-t="wdxh">
					<img class="img_icon" src="images/img/wdxh.png" alt="">
					<p class="p_set">我的喜歡</p>
				</li>
				<!-- <li class="li_cent me_ul" data-t="zhgl">
					<img class="img_icon" src="images/img/sz.png" alt="">
					<p class="p_set">設置</p>
				</li> -->
				<li id="yj_acti" class="li_cent me_ul" data-t="yjfk">
					<img class="img_icon" src="images/img/yjfk2.png" alt="">
					<p class="p_set">意見反饋</p>
				</li>
				<li class="li_cent me_ul" data-t="zcxy">
					<img class="img_icon" src="images/img/yhxy.png" alt="">
					<p class="p_set">用戶協議</p>
				</li>
				<li class="li_cent me_ul" data-t="tz">
					<img class="img_icon" src="images/img/xttz2.png" alt="">
					<p class="p_set">系統通知</p>
				</li>
				<li class="li_cent me_ul" data-t="bbgx">
					<img class="img_icon" src="images/img/bbh2.png" alt="">
					<p id="an_ban" class="p_set">版本V 1.0.0</p>
				</li>
				<li class="li_cent me_ul" data-t="zbzc">
					<img class="img_icon" src="images/img/bbh2.png" alt="">
					<p class="p_set">主播注册</p>
				</li>
			</ul>
		</div>
	</section>
</div>
</body>

</html>