<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>music</title>
</head>
<body id="kaiBody" style="">
    <!-- 上方容器 -->
    <p class="p_iphoneX"></p>
    <section class="con_mainUP margTopX" id="pageA">
        <!-- 头部显示 -->
        <section id="kailistObj" class="con_container">
            <header class="conUp_header hd margTopX">
                <div class="hed_typ_top">
                    <p class="p_san"><img id="homshuax" src="images/audio/xiao.png" alt=""></p>
                    <ul id="ul_typ" class="hed_list">
                    </ul>  
                </div>
                <div class="hed_typ_bot">
                    <div id="search_input" class="link div_inp">
                        <input class="input inpplac" type="text" placeholder="输入搜索关键词" disabled="disabled">
                        <img class="i_img souImg" src="images/audio/xiazai15.png" alt="">
                    </div>
                    <div id="lsjl_sear" class="link div_ls">
                        <img class="i_img" src="images/audio/lishi-2.png" alt="#">
                    </div>
                </div>
            </header>
           <!--  <ul id="ul_book_one" class="ul_title">
               <li data-t="overs" data-l="" class="li_after active"><span>全部</span></li>
               <li data-t="zuiduo" data-l="play" class="li_after"><span>播放最多</span></li>
               <li data-t="zuijin" data-l="created_date"><span>最近更新</span></li>
           </ul> -->
            <div class="di_content bd" id="tabBox1-kj">
                <div class="con">
                    <div id="dv_kj_one">
                        <ul id="ul_book_one" class="ul_title">
                            <li data-t="overs" data-l="" class="li_after active"><span>全部</span></li>
                            <li data-t="zuiduo" data-l="play" class="li_after"><span>播放最多</span></li>
                            <li data-t="zuijin" data-l="created_date"><span>最近更新</span></li>
                        </ul>
                        <ul class="" id="ul_List">
                            <li class="li_cont" data-v="" data-g="images/channel/book1.png">
                                <a class="showNow" href="javascript:void(0)" data-t="list" data-g="images/channel/book1.png" data-v="" data-c="348">
                                    <div class="link d_left">
                                        <p class="p_number"><img class="flImg" src="images/audio/shiting.png" alt="">&nbsp;&nbsp;<span>24</span></p>
                                        <img class="w100 imgfan" src="images/channel/book1.png" alt="" style="height: 219px;">
                                        <p class="center p_tit_book"><span></span></p>
                                    </div>
                                </a> 
                                <a href="javascript:void(0)" data-t="ALove" data-c="348">
                                    <p class="p_offOn"><img class="img_xing" src=" images/audio/heart-br.png " alt=""></p>
                                </a>
                            </li>
                            <li class="li_cont" data-v="" data-g="images/channel/book2.png">
                                <a class="showNow" href="javascript:void(0)" data-t="list" data-g="images/channel/book2.png" data-v="" data-c="348">
                                    <div class="link d_left">
                                        <p class="p_number"><img class="flImg" src="images/audio/shiting.png" alt="">&nbsp;&nbsp;<span>24</span></p>
                                        <img class="w100 imgfan" src="images/channel/book2.png" alt="" style="height: 219px;">
                                        <p class="center p_tit_book"><span></span></p>
                                    </div>
                                </a> 
                                <a href="javascript:void(0)" data-t="ALove" data-c="348">
                                    <p class="p_offOn"><img class="img_xing" src=" images/audio/heart-br.png " alt=""></p>
                                </a>
                            </li>
                            <li class="li_cont" data-v="" data-g="images/channel/book3.png">
                                <a class="showNow" href="javascript:void(0)" data-t="list" data-g="images/channel/book3.png" data-v="" data-c="348">
                                    <div class="link d_left">
                                        <p class="p_number"><img class="flImg" src="images/audio/shiting.png" alt="">&nbsp;&nbsp;<span>24</span></p>
                                        <img class="w100 imgfan" src="images/channel/book3.png" alt="" style="height: 219px;">
                                        <p class="center p_tit_book"><span></span></p>
                                    </div>
                                </a> 
                                <a href="javascript:void(0)" data-t="ALove" data-c="348">
                                    <p class="p_offOn"><img class="img_xing" src=" images/audio/heart-br.png " alt=""></p>
                                </a>
                            </li>
                            <li class="li_cont" data-v="" data-g="images/channel/book4.png">
                                <a class="showNow" href="javascript:void(0)" data-t="list" data-g="images/channel/book4.png" data-v="" data-c="348">
                                    <div class="link d_left">
                                        <p class="p_number"><img class="flImg" src="images/audio/shiting.png" alt="">&nbsp;&nbsp;<span>24</span></p>
                                        <img class="w100 imgfan" src="images/channel/book4.png" alt="" style="height: 219px;">
                                        <p class="center p_tit_book"><span></span></p>
                                    </div>
                                </a> 
                                <a href="javascript:void(0)" data-t="ALove" data-c="348">
                                    <p class="p_offOn"><img class="img_xing" src=" images/audio/heart-br.png " alt=""></p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="con">
                    <div id="dv_kj_two">
                        <ul id="ul_book_two" class="ul_title" style="display: none;">
                            <li data-t="overs" data-l="" class="li_after active"><span>全部</span></li>
                            <li data-t="zuiduo" data-l="play" class="li_after"><span>播放最多</span></li>
                            <li data-t="zuijin" data-l="created_date"><span>最近更新</span></li>
                        </ul>
                        <ul class="" id="ul_bfdo">
                
                        </ul>
                    </div>
                </div>
                <div class="con">
                    <div id="dv_kj_three"> 
                        <ul id="ul_book_three" class="ul_title" style="display: none;">
                            <li data-t="overs" data-l="" class="li_after active"><span>全部</span></li>
                            <li data-t="zuiduo" data-l="play" class="li_after"><span>播放最多</span></li>
                            <li data-t="zuijin" data-l="created_date"><span>最近更新</span></li>
                        </ul>
                        <ul class="" id="ul_zjxn"></ul>
                    </div>
                </div>
                <div class="con">
                    <div id="dv_kj_four"> 
                        <ul id="ul_book_four" class="ul_title" style="display: none;">
                            <li data-t="overs" data-l="" class="li_after active"><span>全部</span></li>
                            <li data-t="zuiduo" data-l="play" class="li_after"><span>播放最多</span></li>
                            <li data-t="zuijin" data-l="created_date"><span>最近更新</span></li>
                        </ul>
                        <ul class="" id="ul_thre"></ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <p id="kaij_hide" class="fixed_g">我也是有底线的</p>
        </section>

        <!-- <section id="leftTabBox" class="sec_namic" >
            <header class="head" style="left: 0;">
                <img id="dtShuax" class="hed_img_icon" src="images/audio/xiao.png" alt="#">
                <div class="hd">
                    <ul id="p_tjgz" class="hed_p">
                        <li style="width: 35%;" data-l="0"><a data-t="" class="adynac" href="javascript:void(0)">推荐</a></li>
                        <li style="width: 35%;" data-l="1"><a data-t="" class="adynac active" href="javascript:void(0)">关注</a></li>
                    </ul>
                </div>
                <img id="img_ldtst" class="Img_search I_hist" src="images/room/sousuo.png" alt="">
            </header>
            <div class="bd divcenheig" id="tabBox1-bd">
                <div class="con">
                    <ul id="ul_tjians" class="gzList">
                    </ul>
                </div>
                <div class="con">
                    <ul id="ul_guzhu" class="tjList">
                    </ul>
                </div>
            </div>
        </section> -->

        <!-- 尾部容器 -->
        <footer id="oneButton" class="con_footer" style="display: none;">
            <!-- 歌手图片 -->
            <div class="pageA_singerImg" id="pageA_SingerImg">
                <img src="images/room/log.png">
            </div>
            <!-- 歌名显示 -->
            <div class="nowSong_information" id="nowSong_information" >
                <p id="pageA_singerName">SongName</p>
                <p id="pageA_songName">作者：singer</p>
            </div>
            <!-- 播放组件 -->
            <div class="pageA_musicElemnt">
                <!-- <span>
                    <i class="iconfont blocks lef" id="pageB_preSongss"></i>
                </span> -->
                <span id="pageA_palyStop">
                    <i id="play" class="iconfont blocks pause"></i>
                    <i id="paue" class="iconfont hide play"></i>
                </span>
                <!-- <span>
                    <i class="iconfont blocks righs" id="PageA_NextSong"></i>
                </span>  -->
            </div>
            <!-- 第一页的时间轴 -->
            <div class="pageTimeLine" id="pageA_timeLine">
                <div></div>
            </div>
            <p style="display: none;" class="songTime songTimes">
                <span class="nowTime" id="nowTimes">00:00:00</span>
                <span class="allTime" id="allTimes">00:00:00</span>
            </p>
        </footer>
    </section>
</body>
</html>