<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
    <style>
        
    </style>
</head>
<body>
    <div class="bacfff divHead margTopX" id="Accout">
        <p class="p_iphoneX"></p>
        <header class="head_vid margTopX" style="border:0;">
            <div class="center" style="background: linear-gradient(90deg,rgba(144,19,254,1) 0%,rgba(113,210,255,1) 100%);">
                <p><i class="account_fan" id="p_fan"></i><span id="liveType">個人信息</span></p>
                <!-- <a class="aAbsolute Afff" href="javascript:void(0)"><span>记录</span/></a> -->
            </div>
        </header>
        <section class="sec_mone">
            <div class="bor_none">
                <img class="w100 radius" src="images/my/urls.png" alt="">
                <div id="div_uesr_tou" class="center div_header">
                    <a data-t="A_img_tou" href="javascript:void(0)"><img class="img_nam" src="images/room/log.png" alt=""></a>
                    <p class="p_iphone">
                        <!-- <a class="colgry A_iphone_no" href="javascript:void(0)"><img class="img_iphon" src="images/my/shouji.png" alt="">未綁定手機號</a> -->
                        <a  class="colgry A_iphone_yes" href="javascript:void(0)"><img class="img_iphon" src="images/my/shouji.png" alt="">手机号</a>
                    </p>
                    <!-- <p class="p_iphone_hide"><a data-t="bdiphone" href="javascript:void(0)">去綁定</a></p> -->
                    <p class="p_iphone_show"><a href="javascript:void(0)">修改</a></p>
                </div>
            </div>
        </section>
        <section style="padding-bottom: 40px;">
            <div class="div_geren">
                <p class="p_title">個人資料</p>
                <ul class="ul_zl_list">
                    <li data-t="Ac_name" class="li_grzl">
                        <span class="span_name">暱稱</span>
                        <span class="fr sp_col_gray"><span id="sp_user_nick">暱稱</span><i class="i_icon_right"></i></span>
                    </li>
                </ul>
                <ul class="ul_zl_list">
                    <li data-t="Ac_gxqm" class="li_grzl">
                        <span class="span_name">個性簽名</span>
                        <span id="sp_li_gxqm" class="fr sp_col_gray"><span id="sp_user_qm"></span><i class="i_icon_right"></i></span>
                    </li>
                </ul>
                <ul class="ul_zl_list">
                    <li class="li_grzl">
                        <span class="span_name">註冊時間</span>
                        <span id="span_time" class="fr sp_col_gray">-</span>
                    </li>
                </ul>
                <ul class="ul_zl_list">
                    <li class="li_grzl">
                        <span class="span_name">用戶ID</span>
                        <span id="span_us_id" class="fr sp_col_gray">-</span>
                    </li>
                </ul>
            </div>
            <div class="div_geren">
                <p class="p_title">個人信息</p>
                <ul class="ul_zl_list">
                    <li id="li_waman" data-t="" class="li_grzl">
                        <span class="span_name">性別</span>
                        <span class="fr sp_col_gray"><span id="span_sex">女</span><i class="i_icon_right"></i></span>
                    </li>
                </ul>
                <ul class="ul_zl_list">
                    <li data-t="Ac_szd" class="li_grzl">
                        <span class="span_name">所在地</span>
                        <span class="fr sp_col_gray"><input id="demo4" type="text" readonly="" placeholder="北京" /><i class="i_icon_right"></i></span>
                    </li>
                </ul>
                <ul class="ul_zl_list">
                    <li data-t="Ac_xqah" class="li_grzl">
                        <span class="span_name">興趣愛好</span>
                        <span class="fr sp_col_gray"><span id="span_xqah">暫未填寫</span><i class="i_icon_right"></i></span>
                    </li>
                </ul>
                <ul class="ul_zl_list">
                    <li data-t="Ac_sr" class="li_grzl">
                        <span class="span_name">生日</span>
                        <span class="fr sp_col_gray"><input type="text" name="USER_RI" id="USER_RI" readonly class="input" placeholder="2012/02/05" /><i class="i_icon_right"></i></span>
                    </li>
                </ul>
                <ul class="ul_zl_list">
                    <li data-t="Ac_gqzk" class="li_grzl">
                        <span class="span_name">感情狀況</span>
                        <span class="fr sp_col_gray"><span id="span_gqkz_s">-</span><i class="i_icon_right"></i></span>
                    </li>
                </ul>
            </div>
        </section>
        <!-- <section class="Ac_sec">
            <div class="div_nam">
                <p class="p_lin">
                    <img class="img_acc" src="images/my/ic_head_s.png" alt="">
                    <span class="fr">我的頭像 <i class="i_icon_ri"></i></span>
                </p>
            </div>
            <div id="di_inf" class="div_cent_ul">
                <ul class="ul">
                    <li data-t="nc">
                        <p>暱稱 <span id="spName" class="fr">123456</span> <i class="i_icon_ri"></i></p>
                    </li>
                    <li data-t="xb">
                        <p>性別 <span id="s_sex" class="fr">未設定 </span><i class="i_icon_ri"></i></p>
                    </li>
                    <li data-t="">
                        <p>手機號 <span class="fr">123456 </span><i class="i_icon_ri"></i></p>
                    </li>
                    <li data-t="xgmm">
                        <p>修改密碼 <span class="fr">綁定手機號后可修改密碼 </span><i class="i_icon_ri"></i></p>
                    </li>
                </ul>
            </div>
        </section>
        <div class="div_button center">
        </div>
        <section id="sec_xgnc" class="sec_alert non">
            <div class="ale_nc d_fixed">
                <p class="p_nc">修改暱稱</p>
                <p class="p_inp center"><input id="inName" type="text"></p>
                <p class="p_si center">2-20個字節，支持中文，英文，數字和下劃線</p>
                <p class="p_a"><a data-t="qx" href="#">取消</a><a data-t="qd" href="#">確定</a></p>
            </div>
        </section>
        <section id="sex" class="sec_sex non">
            <ul class="sex_ul center">
                <li>性別只可設置壹次，設置後不可更改</li>
                <li data-t="boy">男</li>
                <li data-t="girl">女</li>
                <li data-t="xbqx">取消</li>
            </ul>
        </section>
        <section id="iphon" class="sec_alert non">
            <div class="ale_nc d_fixed">
                <p class="p_nc">修改登錄密碼</p>
                <p class="p_ipnone center">確定修改登錄密碼？</p>
                <p class="p_a p_lin"><a data-t="yzm_qx" href="#">取消</a><a data-t="yzm_qd" href="#">確定</a></p>
            </div>
        </section>
        <section id="se_log" class="sec_alert non">
            <div class="ale_nc d_fixed">
                <p class="p_nc">确定切換賬號？</p>
                <p class="p_a p_lin"><a data-t="log_qx" href="#">取消</a><a data-t="log_qd" href="#">確定</a></p>
            </div>
        </section> -->
    </div>
</body>
</html>