<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
</head>
<body>
    <div class="wrapper" id="hedSetup" style="background:#fff;">
        <div id="div_money">
            <div class="di_mon">
                <img id="im_fanhui" src="images/my/search_back.png" alt="">
                <div class="mon_img">
                    <img class="img_w100" src="images/jf_03.png" alt="">
                </div>
                <div class="mon_cent">
                    <ul id="ul_numbe" class="ul_money">
                        <li class="li_money">
                            <a data-t="Amoney" class="A_mon" href="javascript:void(0)">48元包月觀看</a>
                            <a data-t="Azuan" class="A_zuan" href="javascript:void(0)">48鑽石抵扣</a>
                        </li>
                    </ul>
                    <p class="center">
                        <a data-t="Asigin" class="but_cen" href="javascript:void(0)">已是會員請登錄</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>