<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
    <style>
        
    </style>
</head>
<body>
    <div class="margTopX" id="recharge">
        <header class="head_vid margTopX">
            <div class="center">
                <p><i class="rec_fan" id="p_fan"></i>充值記錄</p>
                <a class="A_next" data-t="AgoKF" href="javascript:void(0)" style="color: #657786;">客服</a>
            </div>
        </header>
        <section class="sec_recharge" style="min-height: 100vh;">
            
            <div class="rech_lei center">
                <ul class="ul_lei_zt">
                    <li data-t="Licharge" data-d="0" class="w33 li_ztai Liactive"><span>全部</span></li>
                    <li data-t="Licharge" data-d="1" class="w33 li_ztai"><span>已完成</span></li>
                    <li data-t="Licharge" data-d="2" class="w33 li_ztai"><span>未完成</span></li>
                </ul>
            </div>
            <div id="charg_list" class="recharge_czjl">

            </div>
        </section>
    </div>
</body>
</html>