<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
    <style>
        
    </style>
</head>
<body>
    <div class="wrapper hed_gy bac_fff margTopX" id="sowing">
        <p class="p_iphoneX"></p>
        <header class="head_set margTopX">
            <div class="div_hed"><p><i class="sow_fan" id="p_fan"></i>重磅熱播 </p></div>
        </header>
        <section class="no_gy_sec" id="Sowins">
            <div class="div_feed" style="overflow: hidden;">
                <!-- <div id="numKaijiang_scrollObj">   numKaijiang_scrollObj
                    <ul style="width:700px;position: absolute;" class="comtab clearfix" id="numKaijiang_kjTitleObj">
                        <li style="width:80px;" data-v="ssq" data-t="upd" class="on"><span>全部</span></li>
                    </ul>
                </div> -->
                <div id="numKaijiang_scrollObj" style="overflow: hidden;"> 
                    <ul style="width:1040px; transition-property: transform; transform-origin: 0px 0px; transform: translate(0px, 0px) scale(1) translateZ(0px);" class="kjTitleObj comtab clearfix" id="numKaijiang_kjTitleObj">
                        <li style="width:70px;" data-v="" data-t="upd" data-c="1" class="on"><span>全部</span></li>
                        
                    </ul>
                </div>
                <div class="d_ty_sh">
                    <div class="D_reco">
                        <ul id="sowvideo">
                            <!-- <li><img src="images/log.gif" alt=""></li> -->
                        </ul>
                    </div>
                </div>
                <img id="img_none" style="width:100%;display: none;" src="images/my/empty.png" alt="">
                <p id="sow_hide" class="fixed_g">我也是有底线的</p>
            </div>
        </section>
    </div>
</body>
</html>