<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Alive</title>
</head>
<body>
    <!-- <div class="find margTopX" id="Aliv"> liveUrl-->
    <div class="find" id="Ashare">
        <sction class="sec_share" >
            <div class="div_rig_img">
                <a data-t="Aandroid" href="javascript:void(0)"><img src="images/my/fenx.png" alt=""></a><br/>
                <a data-t="AhrefPag" href="javascript:void(0)"><img src="images/my/herf.png" alt=""></a>
            </div>
            <div class="div_share_hed">
                <p class="p_fx_tit">分享赢取VIP</p>
                <p>分享成功即可获得VIP体验卡<br/>畅享无限次观影特权</p>
            </div>
            <div class="div_code_tx">
                <div id="shareCode"></div>
                <p class="p_yqm_txt">我的邀请码<span id="span_yqm">YL02050504</span></p>
                <p class="p_pad20">
                    <a class="A_hef_but" data-t="Abaocun" href="javascript:void(0)">保存二维码</a>
                    <a class="A_hef_but" href="javascript:void(0)">复制分享链接<button id="Acopy_but" data-clipboard-text="" aria-label="複製成功！" class="but_code"></button></a>

                </p>
            </div>
            <div class="ty_jianjie">
                <p class="p_vip" id="vipDay">VIP体验卡<span>0</span>天</p>
                <p class="p_time" id="timeDay">有效期至: 0000/00/00</p>
            </div>
            <p class="p_renshu">累计邀请<span id="span_number">0</span>人</p>
            <!-- <input oninput="if(value.length>1)value=value.slice(0,1)"> -->
            <div class="div_fix_jie">
                <p class="p_titl">奖励说明</p>
                <p class="p_text_line">问题1：怎样才算分享成功？</p>
                <p class="p_text_line">说明：点击分享链接，获将分享图片发送给好友，好友下载后绑定您的邀请码，即为分享成功。</p>
                <p class="p_text_line">问题2：为什么我的推广链接打不开？</p>
                <p class="p_text_line">说明：请使用手机自带浏览器扫描图片二维码，或者打开分享链接，即可下载。请勿在微信或QQ等第三方浏览器中直接扫码、打开链接，因兼容问题无法正常打开。</p>
            </div>
            <!-- <div class="div_fix_jie">
                <p class="p_titl">VIP获取：</p>
                <p class="p_text_line">1、成功邀请好友，则双方均可获得VIP</p>
                <p class="p_text_line">2、分享1人，可获得1天VIP，支持累加</p>
                <p class="p_text_line">3、绑定好友邀请码也可获得VIP</p>
                <p class="p_titl">分享步骤：</p>
                <p class="p_text_line">1、保存二维码或复制分享链接</p>
                <p class="p_text_line">2、发送给好友</p>
                <p class="p_text_line">3、好友下载并注册</p>
            </div> -->
        </sction>
    </div>
</body>
</html>
