<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="wrapper hed_gy margTopX" id="dtfollow">
        <p class="p_iphoneX"></p>
        <header class="head_set margTopX" style="border:0;">
            <div class="div_hed">
                <p><i class="dtgzFan" id="p_fan"></i>我的關注</p>
            </div>
        </header>
        <section id="gzleftTabBox" class="sec_namic">
            <div class="bd divcenheig" id="tabBox1-bd">
                <div class="con">
                    <ul id="ul_guzhu" class="tjList">
                    </ul>
                    <section class="sec_posrel">
                        <div id="flowList" class="img_nulgon center" style="display: none;">
                            <img class="img_wid" src="images/my/kong-2.png" alt="">
                            <p class="center">空空如也</p>
                        </div>
                    </section>
                </div>
            </div>
        </section>

        <section class="sec_ban_img follow_ban_Img" >
            <p class="center margTopX">
                <a class="a_banner_typ" id="one_folow_numbert" href="javascript:void(0)">0/0</a>
            </p>
            <img id="folo_gbs" class="img_bann_gb" src="images/my/search_back.png" alt="">
            <div id="follow_img_one">
                <img class="img_one_ban" src="" alt="">
            </div>
        </section>
        <section class="sec_ban_img duo_fol_Img">
            <div class="center margTopX">
                <a class="a_banner_typ" id="img_folo_numbert" href="javascript:void(0)">0/0</a>
                <img id="fol_ban_gb" class="img_bann_gb" src="images/my/search_back.png" alt="">
            </div>
            <div style="position:relative;">
                <div id="" class="banner" style="width:100%;margin:0px auto;height: 100vh;">
                    <ul class="banner_nodis" id="follo_bannerImgObj">
                        
                    </ul>
                </div>
                <div class="page_scroll" ><p class="page" id="guanzh_NavWarpObj" style="display: none;"></p></div>
                <div id="back-white"></div>
            </div>
        </section>

        <section class="sec_foot" style="padding-top: 0;"> 
            <p id="dyna_guaz" class="fixed_g">我也是有底线的</p>
        </section>
    </div>
</body>
</html>
