<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="margTopX" id="myfollow">
        <header class="head_vid margTopX">
            <div class="center">
                <p><i class="myfollFan" id="p_fan"></i>我的关注</p>
                <!-- <a class="aAbsolute" href="javascript:void(0)"><img class="img_rela" src="images/room/liwu-3.png" alt=""><span>关注</span></a> -->
            </div>
        </header>
        <section class="sec_myfollow">
            <div class="myfol_tit">
                <ul>
                    <li data-t="lVlLive" data-l="lVN" class="follow_ti w50 center activ"><span>直播间</span></li>
                    <li data-t="lVlLive" data-l="lvl" class="follow_ti w50 center"><span>1V1</span></li>
                </ul>
            </div>
            <div class="div_live div_offNo">
                <ul class="ul_nul" id="followList">
                    <!-- <li class="w48">
                        <p class="p_soule"> <i class="i_color green"></i>直播中 <img style="width: 28px;" class="fr wid28" src="images/room/off.png" alt="#"></p>
                        <a href="javascript:void(0)">
                            <img class="img_nam" src="http://cont.vf4hh.com:9001/uploads/class/20190221/fdef1bca0b298b517d0e098511f0b863.jpg" alt="">
                            <p class="botPos center">静宝宝</p>
                        </a>
                    </li> -->
                </ul>
                <!-- <section class="sec_posrel"> -->
                    <div id="myLVN_wei" class="img_nulgon center">
                        <img class="img_wid" src="images/my/kong-2.png" alt="">
                        <p class="center">空空如也</p>
                    </div>
                <!-- </section> -->
            </div>
            <div class="live_LVL div_offNo " style="display: none;">
                <ul id="ulfollowlx">
                    
                </ul>
                <!-- <section class="sec_posrel"> -->
                    <div id="myLVL_wei" class="img_nulgon center">
                        <img class="img_wid" src="images/my/kong-2.png" alt="">
                        <p class="center">空空如也</p>
                    </div>
                <!-- </section> -->
            </div>
        </section>
    </div>
</body>
</html>