<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>deta详情</title>
    <style>
        
    </style>
</head>
<body>
    <div class="wrapper hed_gy" id="promotion">
        <header class="head_set">
            <div class="div_hed"><p><i class="motio_fan" id="p_fan"></i>我的推廣</p></div>
        </header>
        <section class="moti_sec">
            <ul class="moti_title_ul center">
                <li>用戶名</li>
                <li>手機號</li>
                <li>註冊時間</li>
            </ul>
            <div class="div_img center">
                <img src="images/my/empty_black.png" alt="">
                <p class="p_fff">您還沒有推廣好友</p>
                <p class="p_gry">請去推廣頁面推廣好友增加觀影次數吧！</p>
            </div>
        </section>
    </div>
</body>
</html>