<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="viewport" content="width=device-width, viewport-fit=cover">
    <title></title>
</head>
<body>
    <div class="login_zc" id="Aregist">
        <header class="lig_zc head_reg">
            <div class="zc_title"><p><!-- <i class="login_fans" id="p_fan"></i> -->註冊</p></div>
        </header>
        <section class="sec_zc_content goyzmdl login_bd">
            <div class="zc_center">
                <ul>
                    <li class="li_inp">
                        <span class="sp_tit">手机号:</span>
                        <input id="Alogin_pwdObj" class="in_colo" type="text" maxlength="11" placeholder="请输入手機號碼" >
                    </li>
                    <li class="li_inp">
                        <span class="sp_tit">密码:</span>
                        <input id="Aregister_pwd" class="in_colo" type="password" min="4" maxlength="6" placeholder="请输入密码" >
                        <i class="i_xs"></i>
                    </li>
                </ul>
                <p class="center" style="padding-top: 0;margin-top: 25px;"><input  id="inp_reg_yqm" type="text" placeholder="請輸入邀請碼(選填)" ></p>
                <p class="center pjzdl"><span><i id="i_reg_typ" class="lgnull"></i>記住登錄狀態</span></p>
                <p class="center pat20"><button id="Abutton_pwd" class="but_zc">快速註冊</button></p>
            </div>
            <div class="foo_fiexd">
                <!-- <p class="p_godl"><a data-t="Aregist" class="A_singi" href="javascript:void(0)">已有账号,去登录</a></p> -->
                <p class="p_yhxy">
                    <i id="regYhxy" class="i_Noe i_Off"></i>
                    <span>注册即代表同意平台</span>
                    <span id="i_regyhxy" class="s_col">用户协议</span>
                </p>
            </div>
            <!-- <div class="di_fiexd">
                <p class="p_godl"><a data-t="Alogin" class="Alogcol" href="javascript:void(0)">验证码登录</a></p>
            </div> -->
        </section>
    </div>
</body>
</html>